swagger: '2.0'
info:
  title: Google Cloud NetApp Files API
  description: '## Google Cloud NetApp Files This is the documentation and examples
    for the "Google Cloud NetApp Files" or GNF for short'
  version: 2.153.0
  x-logo:
    url: nfsaas-logo.png
    backgroundColor: '#FFFFFF'
host: netapp.googleapis.com
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: pools
    description: Pool operations
  - name: volumes
    description: Volume operations
  - name: volumes_beta
    description: Volume beta operations
  - name: snapshots
    description: Snapshot operations
  - name: active-directories
    description: Active Directory operations
  - name: replications
    description: Replication operations
  - name: kms-configurations
    description: Key management operations
  - name: storage
    description: Lookup a subset of the storage information
  - name: health
    description: Server health
  - name: version
    description: The current API/SDE version
  - name: async
    description: Long running operations
  - name: resourceEvents
    description: Handle resource events for project state update
  - name: v1Beta_internal
    description: All the internal endpoints for CVP - CVP communications
  - name: migration_internal
    description: All the internal endpoints for 3P to 1P migration
  - name: backups
    description: Backup operations
  - name: backup-policy
    description: Backup policy operations
  - name: batch
    description: Batch operations
  - name: quota-rules
    description: Quota rule operations for the volume
paths:
  /v1beta/projects/{projectNumber}/locations/{locationId}/backupVaults:
    get:
      operationId: v1beta_listBackupVaults
      summary: Describe all backup vaults for a project
      description: Returns descriptions of all backup vaults.
      tags:
        - backup-vault
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - in: query
          name: includeDeleted
          type: boolean
          required: false
          allowEmptyValue: true
          default: false
          description: If true, response will include deleted BackupVaults
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  backupVaults:
                    type: array
                    items:
                      $ref: '#/definitions/BackupVault_v1beta'
          examples:
            application/json:
              backupVaults:
                - backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca3333
                  resourceId: backupvault1
                  description: Dummy description
                  region: us-east4
                  state: READY
                  stateDetails: Available for use
                - backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca3334
                  resourceId: backupvault2
                  region: us-east4
                  state: READY
                  stateDetails: Available for use
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: v1beta_createBackupVault
      summary: Create a new backup vault
      description: Creates a new backup vault
      tags:
        - backup-vault
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to create a new backup.
          schema:
            $ref: '#/definitions/BackupVaultCreate_v1beta'
      responses:
        '202':
          description: Creating backup vault
          schema:
            $ref: '#/definitions/Operation_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/backupVaults/{backupVaultId}:
    get:
      operationId: v1beta_describeBackupVault
      summary: Describe a backup vault
      description: Returns the description of the specified backup vault.
      tags:
        - backup-vault
      parameters:
        - in: query
          name: includeDeleted
          type: boolean
          required: false
          allowEmptyValue: true
          default: false
          description: If true, response will include deleted backup vaults
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/backupVaultIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupVault_v1beta'
          examples:
            application/json:
              backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca3333
              resourceId: backupVault1
              description: Dummy description
              created: '2017-02-02T00:00:00.000Z'
              state: READY
              stateDetails: Available for use
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: v1beta_updateBackupVault
      summary: Update a backup vault
      description: Update a backup vault
      tags:
        - backup-vault
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/backupVaultIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The parameters that can be updated
          schema:
            $ref: '#/definitions/BackupVaultUpdate_v1beta'
      responses:
        '202':
          description: Updating backup vault
          schema:
            $ref: '#/definitions/Operation_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      operationId: v1beta_deleteBackupVault
      summary: Delete a backup vault
      description: Warning! This operation will permanently delete the backup vault.
      tags:
        - backup-vault
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/backupVaultIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '202':
          description: Accepted. Deleting backup vault
          schema:
            $ref: '#/definitions/Operation_v1beta'
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/operations/{operationId}:
    get:
      operationId: v1beta_describeOperation
      summary: Describe a long running operation
      tags:
        - async
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/operationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              - done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              - done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response: Job is in progress
              - done: true
                error:
                  code: 400
                  details: null
                  message: Error when creating destination volume - Could not query
                    DNS server. Verify that the network configuration is correct and
                    that DNS servers are available.
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '503':
          $ref: '#/responses/StandardError-503'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeId}/Revert:
    post:
      operationId: v1beta_revertVolume
      summary: Revert a volume to a snapshot
      description: Warning! This operation will permanently revert all changes made
        after the snapshot was created.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: Revert to snapshot parameters.
          schema:
            $ref: '#/definitions/VolumeRevert_v1beta'
      responses:
        '202':
          description: Reverting volume
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/6bed33e1-cc9c-e0b5-ac63-24e9410e64c1
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/storage/kmsConfig:
    get:
      operationId: v1beta_listKmsConfigurations
      summary: List all KMS configurations
      description: Returns descriptions of all KMS configurations owned by the caller.
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KmsConfig_v1beta'
          examples:
            application/json:
              - uuid: 9760acf5-4638-11e7-9bdb-020073ca7773
                keyFullPath: projects/projectID/locations/keyRingLocation/keyRings/keyRing/cryptoKeys/keyName
                kmsState: READY
                kmsStateDetails: Kms config is ready for use
                description: Description of the KMS configuration
                createdTime: '2017-01-29T09:10:32.212Z'
                updatedTime: '2017-01-29T09:10:32.212Z'
                resourceId: my-resource
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: v1beta_CreateKmsConfiguration
      summary: Create a KMS configuration
      description: Create new KMS configuration for the active user
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to create new KMS configuration.
          schema:
            $ref: '#/definitions/KmsConfig_v1beta'
      responses:
        '202':
          description: Creating KMS configurations
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                createdTime: '2024-02-07T14:55:52.441Z'
                description: My kms description
                keyFullPath: projects/projectID/locations/us/keyRings/keyRing/cryptoKeys/keyName
                kmsState: CREATING
                kmsStateDetails: Creating Kms config settings
                resourceId: my-resource
                updatedTime: '2024-02-07T14:55:52.441Z'
                uuid: 06048ff8-98e8-7090-5559-f671bc440d67
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/storage/kmsConfig/{kmsConfigId}:
    get:
      operationId: v1beta_describeKmsConfiguration
      summary: Describe a KMS configuration
      description: Returns the description of a KMS configuration specified by KMS
        configuration ID.
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/KmsConfigIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KmsConfig_v1beta'
          examples:
            application/json:
              uuid: 9760acf5-4638-11e7-9bdb-020073ca7773
              keyFullPath: projects/projectID/locations/keyRingLocation/keyRings/keyRing/cryptoKeys/keyName
              kmsState: READY
              kmsStateDetails: Kms config is ready for use
              description: Description of the KMS configuration
              createdTime: '2017-01-29T09:10:32.212Z'
              updatedTime: '2017-01-29T09:10:32.212Z'
              resourceId: my-resource
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: v1beta_updateKmsConfiguration
      summary: Update a KMS configuration
      description: Update the KMS configuration
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/KmsConfigIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The parameters that can be updated
          schema:
            $ref: '#/definitions/KmsConfigUpdate_v1beta'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KmsConfig_v1beta'
          examples:
            application/json:
              uuid: 9760acf5-4638-11e7-9bdb-020073ca7773
              keyFullPath: projects/projectID/locations/us/keyRings/keyRing/cryptoKeys/keyName
              kmsState: READY
              kmsStateDetails: Kms config is ready for use
              description: My KMS description
              createdTime: '2017-01-29T09:10:32.212Z'
              updatedTime: '2017-01-29T09:10:32.212Z'
              resourceId: my-resource
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      operationId: v1beta_deleteKmsConfiguration
      summary: Deletes a KMS configuration
      description: Deletes KMS configuration for the active user
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/KmsConfigIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '202':
          description: Deleting KMS configurations
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/storage/kmsConfig/{kmsConfigId}/check:
    get:
      operationId: v1beta_checkKmsConfig
      summary: Verify KMS configuration reachability
      description: Verifies whether service account can access the configured key
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/KmsConfigIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KmsConfigCheck_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/storage/kmsConfig/{kmsConfigId}/encryptVolumes:
    post:
      operationId: v1beta_encryptVolumes
      summary: Migrates volumes to GCP CMEK encryption
      description: Migrates all volumes to GCP CMEK encryption.
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/KmsConfigIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '202':
          description: OK
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/6bed33e1-cc9c-e0b5-ac63-24e9410e64c1
              response:
                EncryptionStatus:
                  UUID: 6bed33e1-cc9c-e0b5-ac63-24e9410e64c3
                  status: updating
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/storage/kmsConfig/getMultipleKmsConfigs:
    post:
      operationId: v1beta_getMultipleKmsConfigs
      summary: List specified KMS configurations
      description: Returns descriptions of KMS configurations that are listed in request
        body.
      tags:
        - kms-configurations
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: A list of KMS configuration IDs to return.
          schema:
            $ref: '#/definitions/kmsConfigIDList_v1beta'
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  kmsConfigurations:
                    type: array
                    items:
                      $ref: '#/definitions/KmsConfig_v1beta'
          examples:
            application/json:
              kmsConfigurations:
                - uuid: 9760acf5-4638-11e7-9bdb-020073ca3333
                  keyFullPath: projects/projectID/locations/us/keyRings/keyRing/cryptoKeys/keyName
                  kmsState: READY
                  kmsStateDetails: Kms config is ready for use
                  resourceId: my-resource
                  description: Description of the KMS configuration
                  createdTime: '2017-01-29T09:10:32.212Z'
                  updatedTime: '2017-01-29T09:10:32.212Z'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /health:
    get:
      operationId: getHealth
      summary: Get the server health status
      description: Returns the server health status
      tags:
        - health
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Health'
        '400':
          $ref: '#/responses/StandardError-400'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeId}:
    get:
      operationId: v1beta_describeVolume
      summary: Describe a volume
      description: Returns the description of the specified volume by volume ID.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Volume_v1beta'
          examples:
            application/json:
              volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
              resourceId: my-volume
              created: '2016-11-29T20:14:50.459Z'
              creationToken: happily-successful-einstein
              volumeState: READY
              volumeStateDetails: Available for use
              serviceLevel: EXTREME
              securityStyle: UNIX
              unixPermissions: '0755'
              usedBytes: 38786062792785
              quotaInBytes: 100000000000000
              snapReserve: 20
              encryptionType: SERVICE_MANAGED
              description: My volume description
              activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
              kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
              labels:
                someKey: SomeValue
                someKey2: SomeValue2
              protocols:
                - NFSV3
              snapshotPolicy:
                enabled: true
                hourlySchedule:
                  snapshotsToKeep: 6
                  minute: 0
                dailySchedule:
                  snapshotsToKeep: 24
                  hour: 23
                  minute: 10
                weeklySchedule:
                  snapshotsToKeep: 7
                  day: Monday, Wednesday, Friday
                  hour: 23
                  minute: 59
                monthlySchedule:
                  snapshotsToKeep: 12
                  daysOfMonth: 15,31
                  hour: 23
                  minute: 59
              exportPolicy:
                rules:
                  - ruleIndex: 1
                    allowedClients: 0.0.0.0/0
                    accessType: READ_WRITE
                    nfsv3: true
                    nfsv4: false
              backupConfig:
                backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                scheduledBackupEnabled: true
              tieringPolicy:
                tierAction: ENABLE
                coolingThresholdDays: 40
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: v1beta_updateVolume
      summary: Update a volume
      description: Update the volume
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The parameters that can be updated
          schema:
            $ref: '#/definitions/VolumeUpdate_v1beta'
      responses:
        '202':
          description: Updating volume
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                created: '2024-01-24T11:03:07.254Z'
                creationToken: some-volume
                backupConfig:
                  backupPolicyId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  scheduledBackupEnabled: true
                encryptionType: SERVICE_MANAGED
                exportPolicy:
                  rules: []
                inReplication: false
                isDataProtection: false
                kerberosEnabled: false
                largeCapacity: false
                ldapEnabled: false
                mountPoints:
                  - export: /some-volume
                    exportFull: 1.2.3.4:/some-volume
                    instructions: 'Setting up your instance

                    Open an SSH client and connect to your instance.

                    Install the nfs client on your instance.

                    On Red Hat Enterprise Linux or SuSE Linux instance:

                    sudo yum install -y nfs-utils

                    On an Ubuntu or Debian instance:

                    sudo apt-get install nfs-common


                    Mounting your volume

                    Create a new directory on your instance, such as "/some-volume":

                    sudo mkdir /some-volume

                    Mount your volume using the example command below:

                    sudo mount -t nfs -o rw,hard,rsize=65536,wsize=65536,vers=3,tcp
                    1.2.3.4:/some-volume /some-volume

                    Note. Please use mount options appropriate for your specific workloads
                    when known.'
                    protocol: NFSV3
                multipleEndpoints: false
                network: projects/123456789/global/networks/systemic-qa-vpc
                poolId: a20730de-511f-273c-4071-ac1a30478609
                poolResourceId: projects/123456789/locations/some-location1/pools/some-pool
                protocols:
                  - NFSV3
                quotaInBytes: 4000000000000
                resourceId: some-volume
                securityStyle: UNIX
                serviceLevel: PREMIUM
                smbSettings: []
                snapReserve: 0
                snapshotDirectory: true
                storageClass: HARDWARE
                tieringPolicy:
                  tierAction: ENABLED
                  coolingThresholdDays: 24
                unixPermissions: '0770'
                usedBytes: 1409024
                volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                volumeState: READY
                volumeStateDetails: Available for use
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      operationId: v1beta_deleteVolume
      summary: Delete a volume
      description: Warning! This operation will permanently delete the volume. This
        operation will never return resource not found, since that could be interpreted
        as resource already deleted, and therefore will return operation done instead.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          schema:
            type: object
            x-nullable: false
            properties:
              deleteAssociatedBackups:
                type: boolean
                description: Delete all the associated backups for the given volume
                  ID or not
                example: false
      responses:
        '202':
          description: Deleting volume
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes:
    get:
      operationId: v1beta_listVolumes
      summary: List all volumes
      description: Returns descriptions of all volumes owned by the caller.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - $ref: '#/parameters/poolIdQueryParameter'
        - in: query
          name: includeDeleted
          type: boolean
          required: false
          allowEmptyValue: true
          default: false
          description: If true, response will include deleted volumes
        - in: query
          name: includePolicies
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, export policy and snapshot policy will be included for
            each file system
        - in: query
          name: includeSmbShareSettings
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, response will include SMB settings
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  volumes:
                    type: array
                    items:
                      $ref: '#/definitions/Volume_v1beta'
          examples:
            application/json:
              volumes:
                - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                  resourceId: big-data
                  created: '2017-01-29T09:10:30.384Z'
                  creationToken: suddenly-distinguished-feynman
                  volumeState: READY
                  volumeStateDetails: Available for use
                  serviceLevel: EXTREME
                  securityStyle: UNIX
                  unixPermissions: '0755'
                  usedBytes: 38786062792785
                  quotaInBytes: 50000000000000
                  snapReserve: 20
                  encryptionType: SERVICE_MANAGED
                  description: My volume description
                  activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                  kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
                  protocols:
                    - NFSV3
                  snapshotPolicy:
                    enabled: true
                    hourlySchedule:
                      snapshotsToKeep: 6
                      minute: 0
                    dailySchedule:
                      snapshotsToKeep: 24
                      hour: 23
                      minute: 10
                    weeklySchedule:
                      snapshotsToKeep: 7
                      day: Monday, Wednesday, Friday
                      hour: 23
                      minute: 59
                    monthlySchedule:
                      snapshotsToKeep: 12
                      daysOfMonth: 15,31
                      hour: 23
                      minute: 59
                  exportPolicy:
                    rules:
                      - ruleIndex: 1
                        name: default
                        allowedClients: 0.0.0.0/0
                        accessType: READ_WRITE
                        nfsv3:
                          checked: true
                        nfsv4:
                          checked: false
                  backupConfig:
                    backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                    backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                    scheduledBackupEnabled: true
                  tieringPolicy:
                    tierAction: ENABLE
                    coolingThresholdDays: 40
                  multipleEndpoints: false
                  largeCapacity: false
                - volumeId: 622EE7E2-afDD-536d-a337-F598Ef1f7a5A
                  resourceId: logs
                  created: '2017-02-13T10:11:10.345Z'
                  creationToken: surprisingly-delighted-gandalf
                  volumeState: DELETING
                  volumeStateDetails: Deletion in progress
                  serviceLevel: EXTREME
                  securityStyle: UNIX
                  usedBytes: 78606279278
                  quotaInBytes: 1000000000000
                  snapReserve: 20
                  encryptionType: SERVICE_MANAGED
                  description: My volume description
                  activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                  kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
                  protocols:
                    - NFSV3
                  snapshotPolicy:
                    enabled: true
                    hourlySchedule:
                      snapshotsToKeep: 6
                      minute: 0
                    dailySchedule:
                      snapshotsToKeep: 24
                      hour: 23
                      minute: 10
                    weeklySchedule:
                      snapshotsToKeep: 7
                      day: Monday, Wednesday, Friday
                      hour: 23
                      minute: 59
                    monthlySchedule:
                      snapshotsToKeep: 12
                      daysOfMonth: 15,31
                      hour: 23
                      minute: 59
                  exportPolicy:
                    rules:
                      - ruleIndex: 1
                        name: default
                        allowedClients: 0.0.0.0/0
                        accessType: READ_WRITE
                        nfsv3:
                          checked: true
                        nfsv4:
                          checked: false
                  backupConfig:
                    backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                    backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                    scheduledBackupEnabled: true
                  tieringPolicy:
                    tierAction: ENABLE
                    coolingThresholdDays: 40
                  multipleEndpoints: false
                  largeCapacity: false
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: v1beta_createVolume
      summary: Create a new volume
      description: Create a new empty volume or a volume from a backup/snapshot if
        backup-ID/snapshot-ID is in the body parameters.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to create a new volume.
          schema:
            $ref: '#/definitions/VolumeCreate_v1beta'
      responses:
        '202':
          description: Creating volume
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                created: '2024-01-24T11:03:07.254Z'
                creationToken: some-volume
                backupConfig:
                  backupPolicyId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  scheduledBackupEnabled: true
                encryptionType: SERVICE_MANAGED
                exportPolicy:
                  rules: []
                inReplication: false
                isDataProtection: false
                kerberosEnabled: false
                largeCapacity: false
                ldapEnabled: false
                mountPoints: []
                multipleEndpoints: false
                network: projects/123456789/global/networks/systemic-qa-vpc
                poolId: a20730de-511f-273c-4071-ac1a30478609
                poolResourceId: projects/123456789/locations/some-location1/pools/some-pool
                protocols:
                  - NFSV3
                quotaInBytes: 4000000000000
                resourceId: some-volume
                securityStyle: UNIX
                serviceLevel: PREMIUM
                smbSettings: []
                snapReserve: 0
                snapshotDirectory: true
                storageClass: HARDWARE
                tieringPolicy:
                  tierAction: ENABLED
                  coolingThresholdDays: 24
                unixPermissions: '0770'
                usedBytes: 1409024
                volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                volumeState: CREATING
                volumeStateDetails: Creation in progress
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        '503':
          $ref: '#/responses/StandardError-503'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/getMultipleVolumes:
    post:
      operationId: v1beta_getMultipleVolumes
      summary: List specified volumes
      description: Returns descriptions of volumes that is listed in request body.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: A list of volume UUIDs to return.
          schema:
            $ref: '#/definitions/VolumeIDList_v1beta'
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  volumes:
                    type: array
                    items:
                      $ref: '#/definitions/Volume_v1beta'
          examples:
            application/json:
              volumes:
                - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                  resourceId: big-data
                  created: '2017-01-29T09:10:30.384Z'
                  creationToken: suddenly-distinguished-feynman
                  volumeState: READY
                  volumeStateDetails: Available for use
                  serviceLevel: EXTREME
                  securityStyle: UNIX
                  unixPermissions: '0755'
                  usedBytes: 38786062792785
                  quotaInBytes: 50000000000000
                  snapReserve: 20
                  encryptionType: SERVICE_MANAGED
                  activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                  kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
                  protocols:
                    - NFSV3
                  snapshotPolicy:
                    enabled: true
                    hourlySchedule:
                      snapshotsToKeep: 6
                      minute: 0
                    dailySchedule:
                      snapshotsToKeep: 24
                      hour: 23
                      minute: 10
                    weeklySchedule:
                      snapshotsToKeep: 7
                      day: Monday, Wednesday, Friday
                      hour: 23
                      minute: 59
                    monthlySchedule:
                      snapshotsToKeep: 12
                      daysOfMonth: 15,31
                      hour: 23
                      minute: 59
                  exportPolicy:
                    rules:
                      - ruleIndex: 1
                        name: default
                        allowedClients: 0.0.0.0/0
                        accessType: READ_WRITE
                        nfsv3: true
                        nfsv4: false
                  backupConfig:
                    backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                    backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                    scheduledBackupEnabled: true
                  tieringPolicy:
                    tierAction: ENABLE
                    coolingThresholdDays: 40
                  multipleEndpoints: false
                  largeCapacity: false
                - volumeId: 622EE7E2-afDD-536d-a337-F598Ef1f7a5A
                  resourceId: logs
                  created: '2017-02-13T10:11:10.345Z'
                  creationToken: surprisingly-delighted-gandalf
                  volumeState: DELETING
                  volumeStateDetails: Deletion in progress
                  serviceLevel: EXTREME
                  securityStyle: UNIX
                  usedBytes: 78606279278
                  quotaInBytes: 1000000000000
                  snapReserve: 20
                  encryptionType: SERVICE_MANAGED
                  activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                  kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
                  protocols:
                    - NFSV3
                  snapshotPolicy:
                    enabled: true
                    hourlySchedule:
                      snapshotsToKeep: 6
                      minute: 0
                    dailySchedule:
                      snapshotsToKeep: 24
                      hour: 23
                      minute: 10
                    weeklySchedule:
                      snapshotsToKeep: 7
                      day: Monday, Wednesday, Friday
                      hour: 23
                      minute: 59
                    monthlySchedule:
                      snapshotsToKeep: 12
                      daysOfMonth: 15,31
                      hour: 23
                      minute: 59
                  exportPolicy:
                    rules:
                      - ruleIndex: 1
                        name: default
                        allowedClients: 0.0.0.0/0
                        accessType: READ_WRITE
                        nfsv3: true
                        nfsv4: false
                  backupConfig:
                    backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                    backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                    scheduledBackupEnabled: true
                  tieringPolicy:
                    tierAction: ENABLE
                    coolingThresholdDays: 40
                  multipleEndpoints: false
                  largeCapacity: false
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications:
    post:
      operationId: v1beta_createReplication
      summary: Create a new replication
      description: Create a new volume replication.
      tags:
        - replications
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeResourceIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to create a new replication.
          schema:
            $ref: '#/definitions/ReplicationCreate_v1beta'
      responses:
        '202':
          description: Creating replication
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                created: '2024-01-24T11:13:03.512Z'
                description: My replication
                destination:
                  volumeId: 00000000-0000-0000-0000-000000000000
                  volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                  tieringPolicy:
                    tierAction: ENABLED
                    coolingThresholdDays: 24
                healthy: true
                mirrorState: PREPARING
                replicationSchedule: EVERY_10_MINUTES
                resourceId: my-replication
                role: SOURCE
                source:
                  volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                  volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                state: CREATING
                stateDetails: Create in progress
                stateDetailsCode: 0
                transferStats: {}
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/establishPeering:
    post:
      operationId: v1beta_establishVolumePeering
      summary: Establish peering for a flexcache volume
      description: Establishes peering for a flexcache volume in the specified project
        and location.
      tags:
        - volumes
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeResourceIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to establish peering for a flexcache
            volume.
          schema:
            $ref: '#/definitions/EstablishPeeringRequest_v1beta'
      responses:
        '202':
          description: Peering is being established
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                resourceId: big-data
                created: '2017-01-29T09:10:30.384Z'
                creationToken: suddenly-distinguished-feynman
                volumeState: READY
                volumeStateDetails: Available for use
                serviceLevel: EXTREME
                securityStyle: UNIX
                unixPermissions: '0755'
                usedBytes: 38786062792785
                quotaInBytes: 50000000000000
                kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                labels:
                  someKey: SomeValue
                  someKey2: SomeValue2
                cacheParameters:
                  cacheState: PENDING_CLUSTER_PEERING
                  peerVolumeName: volume_myvolname
                  peerClusterName: my-cluster-name
                  peerSvmName: svm_560a3f3cb4d345f18297decc3a5988bc
                  peerIpAddresses: 101.102.103.104
                  commandExpiryTime: '2025-04-20T16:21:01Z'
                  command: cluster peer create -peer-addrs 192.140.112.101,192.140.112.102
                    -initial-allowed-vserver-peers svm_560a3f3cb4d345f18297decc3a5988bc
                  passphrase: loremIpsum
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/establishPeering:
    post:
        operationId: v1beta_establishPeering
        summary: Peer local cluster to GCNV
        description: Peer local cluster to GCNV
        tags:
          - replications
        parameters:
          - $ref: '#/parameters/projectNumberPathParameter'
          - $ref: '#/parameters/locationIdPathParameter'
          - $ref: '#/parameters/volumeResourceIdPathParameter'
          - $ref: '#/parameters/replicationResourceIdPathParameter'
          - $ref: '#/parameters/xCorrelationIdHeader'
          - name: body
            in: body
            required: true
            description: The required parameters to create a cluster peering.
            schema:
              $ref: '#/definitions/EstablishPeeringRequest_v1beta'
        responses:
          '202':
            description: Initializing peering
            schema:
              $ref: '#/definitions/Operation_v1beta'
            examples:
              application/json:
                done: false,
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: '2024-01-24T11:13:24.245Z'
                  description: My replication
                  destination:
                    volumeId: 20074ffe-4f2e-89d8-0ecf-7071ddce6030
                    volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                  healthy: false
                  preDeleteSyncEnabled: false
                  mirrorState: PREPARING
                  replicationId: 3cc26ebf-b59a-ee3a-6854-47ca35f45691
                  replicationSchedule: DAILY
                  resourceId: my-replication
                  role: DESTINATION
                  source:
                    clusterLocation: Orlando
                  state: PENDING_CLUSTER_PEERING
                  stateDetails: Pending Cluster Peering
                  stateDetailsCode: 100003
                  transferStats: {}
                  hybridPeeringDetails:
                    peeringSubnetIp: 101.102.103.104
                    peeringCommand: cluster peer create -peer-addrs 192.140.112.101,192.140.112.102
                      -initial-allowed-vserver-peers svm_560a3f3cb4d345f18297decc3a5988bc
                    peeringPassphrase: loremIpsum
                    peeringCommandExpiryTime: '2024-04-20T16:21:01+01:00'
                    peerVolumeName: somePeerVolumeName
                    peerClusterName: somePeerClusterName
                    peerSvmName: somePeerSvmName
          '400':
            $ref: '#/responses/StandardError-400'
          '401':
            $ref: '#/responses/StandardError-401'
          '403':
            $ref: '#/responses/StandardError-403'
          '404':
            $ref: '#/responses/StandardError-404'
          '409':
            $ref: '#/responses/StandardError-409'
          '422':
            $ref: '#/responses/StandardError-422'
          '429':
            $ref: '#/responses/StandardError-429'
          '500':
            $ref: '#/responses/StandardError-500'
          '501':
            $ref: '#/responses/StandardError-501'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/sync:
    post:
        operationId: v1beta_syncReplication
        summary: Sync a replication
        description: Sync a replication.
        tags:
          - replications
        parameters:
          - $ref: '#/parameters/projectNumberPathParameter'
          - $ref: '#/parameters/locationIdPathParameter'
          - $ref: '#/parameters/volumeResourceIdPathParameter'
          - $ref: '#/parameters/replicationResourceIdPathParameter'
          - $ref: '#/parameters/xCorrelationIdHeader'
        responses:
          '202':
            description: Sync replication
            schema:
              $ref: '#/definitions/Operation_v1beta'
            examples:
              application/json:
                done: false,
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: '2024-01-24T11:13:24.245Z'
                  description: My replication
                  destination:
                    volumeId: 20074ffe-4f2e-89d8-0ecf-7071ddce6030
                    volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                  healthy: true
                  mirrorState: MIRRORED
                  replicationId: 3cc26ebf-b59a-ee3a-6854-47ca35f45691
                  replicationSchedule: EVERY_10_MINUTES
                  resourceId: my-replication
                  role: SOURCE
                  source:
                    volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                    volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                  state: UPDATING
                  stateDetails: Sync in progress
                  stateDetailsCode: 0
                  transferStats:
                    lagTime: 421
                    lastTransferDuration: 2
                    lastTransferEndTime: '2024-01-25T12:14:25.000Z'
                    lastTransferSize: 3560
                    totalTransferBytes: 556432
                    totalTransferTimeSecs: 314
          '400':
            $ref: '#/responses/StandardError-400'
          '401':
            $ref: '#/responses/StandardError-401'
          '403':
            $ref: '#/responses/StandardError-403'
          '404':
            $ref: '#/responses/StandardError-404'
          '409':
            $ref: '#/responses/StandardError-409'
          '422':
            $ref: '#/responses/StandardError-422'
          '429':
            $ref: '#/responses/StandardError-429'
          '500':
            $ref: '#/responses/StandardError-500'
          '501':
            $ref: '#/responses/StandardError-501'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeId}/quotaRules/{quotaRuleId}:
    get:
      operationId: v1beta_describeQuotaRule
      summary: Describe quota rule
      description: Returns the description of the quota rule by quota rule ID.
      tags:
        - quota-rules
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/quotaRuleIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/QuotaRules_v1beta'
          examples:
            application/json:
              - quotaUUID: 3ef2db24-ad4f-05d7-98cc-d242c17bcc94
                diskLimitInMib: 10000612
                name: quotarule1
                lifeCycleState: created
                quotaTarget: 1221
                quotaType: INDIVIDUAL_USER_QUOTA
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: v1beta_updateQuotaRule
      summary: Update a quota rule
      description: Update a quota rule
      tags:
        - quota-rules
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/quotaRuleIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The parameters that can be updated
          schema:
            $ref: '#/definitions/QuotaRulesUpdate_v1beta'
      responses:
        '202':
          description: Updating quota rule
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: true
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                quotaUUID: 3ef2db24-ad4f-05d7-98cc-d242c17bcc94
                diskLimitInMib: '10000612'
                resourceId: quotaRule1
                state: Available
                stateDetails: Available for use
                quotaTarget: '1221'
                quotaType: INDIVIDUAL_USER_QUOTA
                createdAt: '2016-11-28T19:30:23.123Z'
                updatedAt: '2016-11-28T19:30:23.123Z'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '405':
          $ref: '#/responses/StandardError-405'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      operationId: v1beta_deleteQuotaRule
      summary: Delete a quota rule
      description: Delete a quota rule
      tags:
        - quota-rules
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeIdPathParameter'
        - $ref: '#/parameters/quotaRuleIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '202':
          description: Deleting quota rule
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}:
    put:
      operationId: v1beta_updateReplication
      summary: Update a replication
      description: Update a replication
      tags:
        - replications
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeResourceIdPathParameter'
        - $ref: '#/parameters/replicationResourceIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The parameters that can be updated
          schema:
            $ref: '#/definitions/ReplicationUpdate_v1beta'
      responses:
        '202':
          description: Updating replication
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
              response:
                created: '2024-01-29T10:33:49.536Z'
                description: My replication
                destination:
                  volumeId: a02acf13-00ae-8d17-3f9a-e6daa1473d5b
                  volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                healthy: true
                mirrorState: MIRRORED
                replicationId: 3796c3d1-6524-9757-aedf-017e41a430ab
                replicationSchedule: HOURLY
                resourceId: my-replication
                role: SOURCE
                source:
                  volumeId: 1a65c06a-94a1-f850-0a1a-d0d07b6f7560
                  volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                clusterLocation: Orlando
                state: UPDATING
                stateDetails: Update in progress
                transferStats:
                  lagTime: 18
                  lastTransferEndTime: '2024-01-29T10:34:11.000Z'
                  totalTransferBytes: 18872
                  totalTransferTimeSecs: 2
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      operationId: v1beta_deleteReplication
      summary: Delete a replication
      description: Delete a replication
      tags:
        - replications
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeResourceIdPathParameter'
        - $ref: '#/parameters/replicationResourceIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: false
          description: Optional parameters to delete replication.
          schema:
            $ref: '#/definitions/ReplicationDelete_v1beta'
      responses:
        '202':
          description: Deleting replication
          schema:
            $ref: '#/definitions/Operation_v1beta'
          examples:
            application/json:
              done: false
              name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/stop:
    post:
        operationId: v1beta_stopReplication
        summary: Stop a replication
        description: Stop a replication.
        tags:
          - replications
        parameters:
          - $ref: '#/parameters/projectNumberPathParameter'
          - $ref: '#/parameters/locationIdPathParameter'
          - $ref: '#/parameters/volumeResourceIdPathParameter'
          - $ref: '#/parameters/replicationResourceIdPathParameter'
          - $ref: '#/parameters/xCorrelationIdHeader'
          - name: body
            in: body
            required: true
            description: The required parameters to stop a replication.
            schema:
              $ref: '#/definitions/ReplicationStop_v1beta'
        responses:
          '202':
            description: Stopping replication
            schema:
              $ref: '#/definitions/Operation_v1beta'
            examples:
              application/json:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: '2024-01-24T11:13:24.245Z'
                  description: My replication
                  destination:
                    volumeId: 20074ffe-4f2e-89d8-0ecf-7071ddce6030
                    volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                  healthy: true
                  mirrorState: MIRRORED
                  replicationId: 3cc26ebf-b59a-ee3a-6854-47ca35f45691
                  replicationSchedule: HOURLY
                  resourceId: my-replication
                  role: SOURCE
                  source:
                    volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                    volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                  state: UPDATING
                  stateDetails: Stop in progress
                  stateDetailsCode: 0
                  transferStats:
                    lagTime: 169
                    lastTransferDuration: 2
                    lastTransferEndTime: '2024-01-26T15:52:43.000Z'
                    lastTransferSize: 3560
                    totalTransferBytes: 1147392
                    totalTransferTimeSecs: 660
          '400':
            $ref: '#/responses/StandardError-400'
          '401':
            $ref: '#/responses/StandardError-401'
          '403':
            $ref: '#/responses/StandardError-403'
          '404':
            $ref: '#/responses/StandardError-404'
          '409':
            $ref: '#/responses/StandardError-409'
          '422':
            $ref: '#/responses/StandardError-422'
          '429':
            $ref: '#/responses/StandardError-429'
          '500':
            $ref: '#/responses/StandardError-500'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/resume:
    post:
        operationId: v1beta_resumeReplication
        summary: Resume a replication
        description: Resume a replication.
        tags:
          - replications
        parameters:
          - $ref: '#/parameters/projectNumberPathParameter'
          - $ref: '#/parameters/locationIdPathParameter'
          - $ref: '#/parameters/volumeResourceIdPathParameter'
          - $ref: '#/parameters/replicationResourceIdPathParameter'
          - $ref: '#/parameters/xCorrelationIdHeader'
        responses:
          '202':
            description: Resuming replication
            schema:
              $ref: '#/definitions/Operation_v1beta'
            examples:
              application/json:
                done: false,
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: '2024-01-24T11:13:24.245Z'
                  description: My replication
                  destination:
                    volumeId: 20074ffe-4f2e-89d8-0ecf-7071ddce6030
                    volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                  healthy: true
                  mirrorState: STOPPED
                  replicationId: 3cc26ebf-b59a-ee3a-6854-47ca35f45691
                  replicationSchedule: EVERY_10_MINUTES
                  resourceId: my-replication
                  role: SOURCE
                  source:
                    volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                    volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                  state: UPDATING
                  stateDetails: Update in progress
                  stateDetailsCode: 0
                  transferStats:
                    lagTime: 421
                    lastTransferDuration: 2
                    lastTransferEndTime: '2024-01-25T12:14:25.000Z'
                    lastTransferSize: 3560
                    totalTransferBytes: 556432
                    totalTransferTimeSecs: 314
          '400':
            $ref: '#/responses/StandardError-400'
          '401':
            $ref: '#/responses/StandardError-401'
          '403':
            $ref: '#/responses/StandardError-403'
          '404':
            $ref: '#/responses/StandardError-404'
          '409':
            $ref: '#/responses/StandardError-409'
          '422':
            $ref: '#/responses/StandardError-422'
          '429':
            $ref: '#/responses/StandardError-429'
          '500':
            $ref: '#/responses/StandardError-500'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/reverseAndResumeReplication:
    post:
        operationId: v1beta_reverseAndResumeReplication
        summary: Reverse and resume a replication
        description: Reverse and resume a replication.
        tags:
          - replications
        parameters:
          - $ref: '#/parameters/projectNumberPathParameter'
          - $ref: '#/parameters/locationIdPathParameter'
          - $ref: '#/parameters/volumeResourceIdPathParameter'
          - $ref: '#/parameters/replicationResourceIdPathParameter'
          - $ref: '#/parameters/xCorrelationIdHeader'
        responses:
          '202':
            description: Reversing and resuming replication
            schema:
              $ref: '#/definitions/Operation_v1beta'
            examples:
              application/json:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: '2024-01-29T10:59:26.168Z'
                  description: My replication
                  destination:
                    volumeId: 1a65c06a-94a1-f850-0a1a-d0d07b6f7560
                    volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                  healthy: true
                  mirrorState: PREPARING
                  replicationSchedule: HOURLY
                  resourceId: my-replication
                  role: DESTINATION
                  source:
                    volumeId: a02acf13-00ae-8d17-3f9a-e6daa1473d5b
                    volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                  state: UPDATING
                  stateDetailsCode: 0
          '400':
            $ref: '#/responses/StandardError-400'
          '401':
            $ref: '#/responses/StandardError-401'
          '403':
            $ref: '#/responses/StandardError-403'
          '404':
            $ref: '#/responses/StandardError-404'
          '409':
            $ref: '#/responses/StandardError-409'
          '422':
            $ref: '#/responses/StandardError-422'
          '429':
            $ref: '#/responses/StandardError-429'
          '500':
            $ref: '#/responses/StandardError-500'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/getMultipleReplications:
    post:
      operationId: v1beta_getMultipleReplications
      summary: List specific replications
      description: Returns selected replication objects
      tags:
        - replications
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeResourceIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: A list of replication URIs to return.
          schema:
            $ref: '#/definitions/ReplicationURIList_v1beta'
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  replications:
                    type: array
                    items:
                      $ref: '#/definitions/Replication_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/replications:
    get:
      operationId: v1beta_listReplications
      summary: List all volume replications
      description: Returns a list of all volume replications owned by the user
      tags:
        - replications
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  replications:
                    type: array
                    items:
                      $ref: '#/definitions/Replication_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/internal/projects/{projectNumber}/locations/{locationId}/volumeReplication:
    get:
      operationId: v1beta_listVolumeReplicationsCVP
      summary: List all volume replications
      description: Returns a list of all volume replications owned by the user
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - in: query
          name: includeDeleted
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, response will include deleted volume replications
        - in: query
          name: includeSource
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, response will include source volume replications
      responses:
        '200':
          description: OK
          schema:
            type: object
            allOf:
              - properties:
                  replications:
                    type: array
                    items:
                      $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: v1beta_createVolumeReplicationCVP
      summary: Create a new volume replication
      description: Create a new volume replication
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to create a new volume replication.
          schema:
            $ref: '#/definitions/VolumeReplicationCVPCreate_v1beta'
      responses:
        '202':
          description: Creating volume replication
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        '503':
          $ref: '#/responses/StandardError-503'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/internal/projects/{projectNumber}/locations/{locationId}/volumeReplication/authorize:
    post:
      operationId: v1beta_authorizeVolumeReplicationCVP
      summary: Authorize a volume replication on the source
      description: Authorize a volume replication on the source
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The required parameters to create a new volume replication.
          schema:
            $ref: '#/definitions/VolumeReplicationCVPCreate_v1beta'
      responses:
        '202':
          description: Creating volume replication
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        '503':
          $ref: '#/responses/StandardError-503'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/internal/projects/{projectNumber}/locations/{locationId}/volumeReplication/{volumeReplicationId}:
    get:
      operationId: v1beta_describeVolumeReplicationCVP
      summary: Describe a volume replication
      description: Returns the description of the specified volume replication by
        volume replication ID.
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeReplicationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      operationId: v1beta_updateVolumeReplicationCVP
      summary: Update a volume replication
      description: Update the volume replication
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeReplicationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          required: true
          description: The parameters that can be updated
          schema:
            $ref: '#/definitions/VolumeReplicationCVPUpdate_v1beta'
      responses:
        '202':
          description: Updating volume replication
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      operationId: v1beta_deleteVolumeReplicationCVP
      summary: Delete a volume replication
      description: Warning! This operation will permanently delete the volume replication.
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/volumeReplicationIdPathParameter'
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - in: query
          name: destinationOnly
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, replication will only be released and deleted from the
            destination side.
        - in: query
          name: sourceOnly
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, replication will only be released and deleted from the
            source side.
        - in: query
          name: skipPeeringCleanup
          type: boolean
          required: false
          allowEmptyValue: true
          description: If true, any existing cluster peering or intercluster lif entries
            will not be removed.
      responses:
        '202':
          description: Deleting volume replication
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '204':
          description: No content
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '422':
          $ref: '#/responses/StandardError-422'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/internal/projects/{projectNumber}/locations/{locationId}/volumeReplication/{volumeReplicationId}/break:
    post:
      operationId: v1beta_breakVolumeReplicationCVP
      summary: Break a volume replication
      description: Breaks the replication relationship between source and destination
        in this volume replication and changes the type of the destination to RW.
        Can only be invoked from the destination end of the relationship.
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeReplicationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
        - name: body
          in: body
          schema:
            type: object
            x-nullable: false
            properties:
              force:
                type: boolean
                description: Can be used to force break a replication while transfer
                  is in progress. Warning! This will abort any current transfers.
                example: false
      responses:
        '202':
          description: OK
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '409':
          $ref: '#/responses/StandardError-409'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
          $ref: '#/responses/StandardError-500'
        '501':
          $ref: '#/responses/StandardError-501'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /v1beta/internal/projects/{projectNumber}/locations/{locationId}/volumeReplication/{volumeReplicationId}/initialize:
    post:
      operationId: v1beta_initializeVolumeReplicationCVP
      summary: Initialize a volume replication
      description: Initializes the replication relationship between source and destination
        in this volume replication. Should only be used if the automatic initialize
        failed. Can only be invoked from the destination end of the relationship.
      tags:
        - v1Beta_internal
      parameters:
        - $ref: '#/parameters/projectNumberPathParameter'
        - $ref: '#/parameters/locationIdPathParameter'
        - $ref: '#/parameters/volumeReplicationIdPathParameter'
        - $ref: '#/parameters/xCorrelationIdHeader'
      responses:
        '202':
          description: OK
          schema:
            $ref: '#/definitions/VolumeReplicationCVP_v1beta'
        '400':
          $ref: '#/responses/StandardError-400'
        '401':
          $ref: '#/responses/StandardError-401'
        '403':
          $ref: '#/responses/StandardError-403'
        '404':
          $ref: '#/responses/StandardError-404'
        '429':
          $ref: '#/responses/StandardError-429'
        '500':
[...]
