openapi: 3.0.4
info:
  title: Google Cloud NetApp Files API
  description: '## Google Cloud NetApp Files This is the documentation and examples
    for the "Google Cloud NetApp Files" or GNF for short'
  version: "${major_version}.${minor_version}.${patch_version}"
  x-logo:
    url: nfsaas-logo.png
    backgroundColor: '#FFFFFF'
servers:
  - url: http://netapp.googleapis.com/
  - url: https://netapp.googleapis.com/
tags:
  - name: pools
    description: Pool operations
  - name: volumes
    description: Volume operations
  - name: HostGroups
    description: HostGroup operations
  - name: activeDirectories
    description: AD operations
  - name: backupVault
    description: BackupVault operations
  - name: async
    description: Long running operations
  - name: replications
    description: Replication operations
  - name: kms-configurations
    description: Key management operations
  - name: backup-policy
    description: Backup policy operations
  - name: v1Beta_internal
    description: Internal endpoints
  - name: backups
    description: Backup operations
paths:
  /health:
    get:
      operationId: getHealth
      summary: Get the server health status
      description: Returns the server health status
      tags:
        - health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools:
    get:
      tags:
        - pools
      summary: List all pools
      description: Returns descriptions of all pools owned by the caller.
      operationId: v1beta_listPools
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - $ref: '#/components/parameters/includeDeletedQueryParameter'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      pools:
                        type: array
                        items:
                          $ref: '#/components/schemas/Pool_v1beta'
              example:
                pools:
                  - poolId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 9235cgf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1234456789/global/networks/network-to-netapp2
                    resourceId: my-pool
                    serviceLevel: PREMIUM
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2016-11-28T19:30:23.123Z
                    description: My pool description
                    ldapEnabled: false
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    allowAutoTiering: true
                  - poolId: 5fca0679-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 8543bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 9462cgf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1079058383248/global/networks/network-to-netapp2
                    resourceId: my-other-pool
                    serviceLevel: EXTREME
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2017-01-28T11:03:44.733Z
                    description: My pool description
                    ldapEnabled: false
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    allowAutoTiering: true
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - pools
      summary: Create a new pool
      description: Create a new pool.
      operationId: v1beta_createPool
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new pool.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool_v1beta'
        required: true
      responses:
        "202":
          description: Creating pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  activeDirectoryConfigId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  activeDirectoryResourceId: projects/123456789/locations/some-location1/activeDirectories/my-active-directory
                  allocatedBytes: 0
                  allowAutoTiering: false
                  createdAt: 2024-01-24T13:54:14.374Z
                  description: My Pool description
                  encryptionType: SERVICE_MANAGED
                  globalAccessAllowed: true
                  kmsConfigId: 6aae31f1-f685-4fda-b875-db0ea99235fc
                  kmsConfigResourceId: projects/123456789/locations/some-location1/kmsConfigs/my-resource
                  ldapEnabled: false
                  network: projects/123456789/global/networks/network-to-netapp2
                  numberOfVolumes: 0
                  poolId: bfa46013-1a1e-587b-ef9a-619bae6ba25d
                  resourceId: some-pool-name
                  serviceLevel: PREMIUM
                  sizeInBytes: 2199023255552
                  storageClass: SOFTWARE
                  storagePoolState: READY
                  storagePoolStateDetails: Available for use
                  updatedAt: 2024-01-24T13:54:14.374Z
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
                  zone: us-east1-b
                  secondaryZone: us-east1-c
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/getMultiplePools:
    post:
      tags:
        - pools
      summary: List specified pools
      description: Returns descriptions of pools that is listed in request body.
      operationId: v1beta_getMultiplePools
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of pool Uuids to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolIdList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      pools:
                        type: array
                        items:
                          $ref: '#/components/schemas/Pool_v1beta'
              example:
                pools:
                  - poolId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 9879acf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 5378acf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1079058383248/global/networks/network-to-netapp2
                    resourceId: my-pool
                    serviceLevel: PREMIUM
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2016-11-28T19:30:23.123Z
                    description: My pool description
                    ldapEnabled: false
                    allowAutoTiering: true
                  - poolId: 5fca0679-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 4892acf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 9346acf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1079058383248/global/networks/network-to-netapp2
                    resourceId: my-other-pool
                    serviceLevel: EXTREME
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2017-01-28T11:03:44.733Z
                    description: My pool description
                    ldapEnabled: false
                    allowAutoTiering: true
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}:
    get:
      tags:
        - pools
      summary: Describe a pool
      description: Returns the description of the specified pool by pool Id.
      operationId: v1beta_describePool
      parameters:
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool_v1beta'
              example:
                PoolId: 9760acf5-4638-11e7-9bdb-020073ca7773
                activeDirectoryConfigId: 9232dgf5-4638-11e7-9bdb-020073ca7773
                kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                network: projects/1079058383248/global/networks/network-to-netapp2
                resourceId: my-pool
                serviceLevel: PREMIUM
                sizeInBytes: 2199023255552
                storagePoolState: READY
                createdAt: 2016-11-28T19:30:23.123Z
                updatedAt: 2016-11-28T19:30:23.123Z
                description: My pool description
                ldapEnabled: false
                labels:
                  someKey: SomeValue
                  someKey2: SomeValue2
                allowAutoTiering: true
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - pools
      summary: Update a pool
      description: Update the pool
      operationId: v1beta_updatePool
      parameters:
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolUpdate_v1beta'
        required: true
      responses:
        "202":
          description: Updating pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  activeDirectoryConfigId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  activeDirectoryResourceId: projects/123456789/locations/some-location1/activeDirectories/active-directory
                  allocatedBytes: 10995116277760
                  allowAutoTiering: false
                  createdAt: 2024-01-24T13:54:14.374Z
                  description: My Pool description
                  encryptionType: SERVICE_MANAGED
                  globalAccessAllowed: true
                  ldapEnabled: false
                  network: projects/123456789/global/networks/systemic-qa-vpc
                  numberOfVolumes: 2
                  poolId: bfa46013-1a1e-587b-ef9a-619bae6ba25d
                  resourceId: my-pool
                  serviceLevel: PREMIUM
                  sizeInBytes: 12094627905536
                  storageClass: SOFTWARE
                  storagePoolState: READY
                  storagePoolStateDetails: Available for use
                  updatedAt: 2024-01-24T13:54:14.374Z
                  zone: us-east1-b
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
        "204":
          description: No content
          content: {}
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    delete:
      tags:
        - pools
      summary: Delete a storage pool
      description: "Warning! This operation will permanently delete the pool. This\
        \ operation will never return resource not found, since that could be interpreted\
        \ as resource already deleted, and therefore will return operation done instead."
      operationId: v1beta_deletePool
      parameters:
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "202":
          description: Deleting pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        "204":
          description: No content
          content: {}
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeId}:
    get:
      tags:
        - volumes
      summary: Describe a volume
      description: Returns the description of the specified volume by volume Id.
      operationId: v1beta_describeVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - name: volumeId
          in: path
          description: Uuid v4 used to identify the volume
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_v1beta'
              example:
                volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                resourceId: my-volume
                created: 2016-11-29T20:14:50.459Z
                creationToken: happily-successful-einstein
                volumeState: READY
                volumeStateDetails: Available for use
                serviceLevel: EXTREME
                securityStyle: UNIX
                unixPermissions: "0755"
                usedBytes: 38786062792785
                quotaInBytes: 100000000000000
                snapReserve: 20
                encryptionType: SERVICE_MANAGED
                description: My volume description
                activeDirectoryConfigUuid: 8064bdf5-4638-11e7-9bdb-020073ca7773
                kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                labels:
                  someKey: SomeValue
                  someKey2: SomeValue2
                protocols:
                  - NFSV3
                snapshotPolicy:
                  enabled: true
                  hourlySchedule:
                    snapshotsToKeep: 6
                    minute: 0
                  dailySchedule:
                    snapshotsToKeep: 24
                    hour: 23
                    minute: 10
                  weeklySchedule:
                    snapshotsToKeep: 7
                    day: "Monday, Wednesday, Friday"
                    hour: 23
                    minute: 59
                  monthlySchedule:
                    snapshotsToKeep: 12
                    daysOfMonth: "15,31"
                    hour: 23
                    minute: 59
                exportPolicy:
                  rules:
                    - ruleIndex: 1
                      allowedClients: 0.0.0.0/0
                      accessType: READ_WRITE
                      nfsv3: true
                      nfsv4: false
                backupConfig:
                  backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                  backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                  scheduledBackupEnabled: true
                tieringPolicy:
                  tierAction: ENABLE
                  coolingThresholdDays: 40
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - volumes
      summary: Update a volume
      description: Update the volume
      operationId: v1beta_updateVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - $ref: '#/components/parameters/xNetappBackupScheduleHeader'
        - name: volumeId
          in: path
          description: Uuid v4 used to identify the volume
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
      requestBody:
        description: The parameters that can be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeUpdate_v1beta'
        required: true
      responses:
        "202":
          description: Updating volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: 2024-01-24T11:03:07.254Z
                  creationToken: some-volume
                  backupConfig:
                    backupPolicyId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    scheduledBackupEnabled: true
                  encryptionType: SERVICE_MANAGED
                  exportPolicy:
                    rules: []
                  inReplication: false
                  isDataProtection: false
                  kerberosEnabled: false
                  largeCapacity: false
                  ldapEnabled: false
                  mountPoints:
                    - export: /some-volume
                      exportFull: 1.2.3.4:/some-volume
                      instructions: |-
                        Setting up your instance
                        Open an SSH client and connect to your instance.
                        Install the nfs client on your instance.
                        On Red Hat Enterprise Linux or SuSE Linux instance:
                        sudo yum install -y nfs-utils
                        On an Ubuntu or Debian instance:
                        sudo apt-get install nfs-common

                        Mounting your volume
                        Create a new directory on your instance, such as "/some-volume":
                        sudo mkdir /some-volume
                        Mount your volume using the example command below:
                        sudo mount -t nfs -o rw,hard,rsize=65536,wsize=65536,vers=3,tcp 1.2.3.4:/some-volume /some-volume
                        Note. Please use mount options appropriate for your specific workloads when known.
                      protocol: NFSV3
                  multipleEndpoints: false
                  network: projects/123456789/global/networks/systemic-qa-vpc
                  poolId: a20730de-511f-273c-4071-ac1a30478609
                  poolResourceId: projects/123456789/locations/some-location1/pools/some-pool
                  protocols:
                    - NFSV3
                  quotaInBytes: 4000000000000
                  resourceId: some-volume
                  securityStyle: UNIX
                  serviceLevel: PREMIUM
                  smbSettings: []
                  snapReserve: 0
                  snapshotDirectory: true
                  storageClass: SOFTWARE
                  tieringPolicy:
                    tierAction: ENABLED
                    coolingThresholdDays: 24
                  unixPermissions: "0770"
                  usedBytes: 1409024
                  volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                  volumeState: READY
                  volumeStateDetails: Available for use
        "204":
          description: No content
          content: {}
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    delete:
      tags:
        - volumes
      summary: Delete a volume
      description: "Warning! This operation will permanently delete the volume. This\
        \ operation will never return resource not found, since that could be interpreted\
        \ as resource already deleted, and therefore will return operation done instead."
      operationId: v1beta_deleteVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - name: volumeId
          in: path
          description: Uuid v4 used to identify the volume
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteAssociatedBackups:
                  type: boolean
                  description: Delete all the associated backups for the given volume
                    Id or not
                  example: false
              nullable: false
              x-nullable: false
        required: false
      responses:
        "202":
          description: Deleting volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        "204":
          description: No content
          content: {}
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes:
    get:
      tags:
        - volumes
      summary: List all volumes
      description: Returns descriptions of all volumes owned by the caller.
      operationId: v1beta_listVolumes
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - $ref: '#/components/parameters/includeDeletedQueryParameter'
        - name: poolId
          in: query
          description: Uuid v4 used to identify the pool
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
        - name: includePolicies
          in: query
          description: "If true, export policy and snapshot policy will be included\
           \ for each file system"
          allowEmptyValue: true
          schema:
            type: boolean
        - name: includeSmbShareSettings
          in: query
          description: "If true, response will include SMB settings"
          allowEmptyValue: true
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      volumes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Volume_v1beta'
              example:
                volumes:
                  - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                    resourceId: big-data
                    created: 2017-01-29T09:10:30.384Z
                    creationToken: suddenly-distinguished-feynman
                    volumeState: READY
                    volumeStateDetails: Available for use
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    unixPermissions: "0755"
                    usedBytes: 38786062792785
                    quotaInBytes: 50000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    description: My volume description
                    activeDirectoryConfigUuid: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3:
                            checked: true
                          nfsv4:
                            checked: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
                  - volumeId: 622EE7E2-afDD-536d-a337-F598Ef1f7a5A
                    resourceId: logs
                    created: 2017-02-13T10:11:10.345Z
                    creationToken: surprisingly-delighted-gandalf
                    volumeState: DELETING
                    volumeStateDetails: Deletion in progress
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    usedBytes: 78606279278
                    quotaInBytes: 1000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    description: My volume description
                    activeDirectoryConfigUuid: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3:
                            checked: true
                          nfsv4:
                            checked: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - volumes
      summary: Create a new volume
      description: Create a new empty volume or a volume from a backup/snapshot if
        backup-Id/snapshot-Id is in the body parameters.
      operationId: v1beta_createVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - $ref: '#/components/parameters/xNetappBackupScheduleHeader'
      requestBody:
        description: The required parameters to create a new volume.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeCreate_v1beta'
        required: true
      responses:
        "202":
          description: Creating volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: 2024-01-24T11:03:07.254Z
                  creationToken: some-volume
                  backupConfig:
                    backupPolicyId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    scheduledBackupEnabled: true
                  encryptionType: SERVICE_MANAGED
                  exportPolicy:
                    rules: []
                  inReplication: false
                  isDataProtection: false
                  kerberosEnabled: false
                  largeCapacity: false
                  ldapEnabled: false
                  mountPoints: []
                  multipleEndpoints: false
                  network: projects/123456789/global/networks/systemic-qa-vpc
                  poolId: a20730de-511f-273c-4071-ac1a30478609
                  poolResourceId: projects/123456789/locations/some-location1/pools/some-pool
                  protocols:
                    - NFSV3
                  quotaInBytes: 4000000000000
                  resourceId: some-volume
                  securityStyle: UNIX
                  serviceLevel: PREMIUM
                  smbSettings: []
                  snapReserve: 0
                  snapshotDirectory: true
                  storageClass: SOFTWARE
                  tieringPolicy:
                    tierAction: ENABLED
                    coolingThresholdDays: 24
                  unixPermissions: "0770"
                  usedBytes: 1409024
                  volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                  volumeState: CREATING
                  volumeStateDetails: Creation in progress
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/getMultipleVolumes:
    post:
      tags:
        - volumes
      summary: List specified volumes
      description: Returns descriptions of volumes that is listed in request body.
      operationId: v1beta_getMultipleVolumes
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of volume Uuids to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeIdList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      volumes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Volume_v1beta'
              example:
                volumes:
                  - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                    resourceId: big-data
                    created: 2017-01-29T09:10:30.384Z
                    creationToken: suddenly-distinguished-feynman
                    volumeState: READY
                    volumeStateDetails: Available for use
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    unixPermissions: "0755"
                    usedBytes: 38786062792785
                    quotaInBytes: 50000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    activeDirectoryConfigUuid: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3: true
                          nfsv4: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
                  - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8afE
                    resourceId: iscsi-volume-sample
                    created: 2017-01-29T09:10:30.384Z
                    creationToken: iscsi-volume-sample
                    volumeState: READY
                    volumeStateDetails: Available for use
                    serviceLevel: FLEX
                    usedBytes: 38786062792785
                    quotaInBytes: 50000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - ISCSI
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    mountPoints:
                      - export: ""
                        exportFull: ""
                        instructions: ""
                        ipAddress: "10.22.0.20"
                        protocol: "ISCSI"
                      - export: ""
                        exportFull: ""
                        instructions: ""
                        ipAddress: "10.22.0.21"
                        protocol: "ISCSI"
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
                    blockProperties:
                      hostGroupIds:
                        - a20730de-511f-273c-4071-ac1a30478609
                        - a20730de-511f-273c-4071-ac1a30478610
                      osType: LINUX
                  - volumeId: 622EE7E2-afDD-536d-a337-F598Ef1f7a5A
                    resourceId: logs
                    created: 2017-02-13T10:11:10.345Z
                    creationToken: surprisingly-delighted-gandalf
                    volumeState: DELETING
                    volumeStateDetails: Deletion in progress
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    usedBytes: 78606279278
                    quotaInBytes: 1000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    activeDirectoryConfigUuid: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3: true
                          nfsv4: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/establishPeering:
    post:
      operationId: v1beta_establishVolumePeering
      summary: Establish peering for a flexcache volume
      description: Establishes peering for a flexcache (cache) volume in the specified project and location.
      tags:
        - volumes
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        required: true
        description: The required parameters to establish peering for a flexcache volume.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishPeeringRequest_v1beta'
      responses:
        '202':
          description: Peering is being established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              examples:
                establishingPeering:
                  summary: Peering initiation
                  value:
                    done: false
                    name: /v1beta/projects/123456789/locations/us-central1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                    response:
                      volumeId: 49b96a2f-4a38-6fa4-2cc6-f598ef2f8a0e
                      resourceId: big-data
                      created: '2025-01-29T09:10:30.384Z'
                      creationToken: suddenly-distinguished-feynman
                      volumeState: READY
                      volumeStateDetails: Available for use
                      serviceLevel: EXTREME
                      securityStyle: UNIX
                      unixPermissions: '0755'
                      usedBytes: 38786062792785
                      quotaInBytes: 50000000000000
                      kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                      labels:
                        someKey: SomeValue
                        someKey2: SomeValue2
                      cacheParameters:
                        cacheState: PENDING_CLUSTER_PEERING
                        peerVolumeName: volume_myvolname
                        peerClusterName: my-cluster-name
                        peerSvmName: svm_560a3f3cb4d345f18297decc3a5988bc
                        peerIpAddresses:
                          - "101.102.103.104"
                          - "101.102.103.105"
                        commandExpiryTime: '2025-04-20T16:21:01Z'
                        command: cluster peer create -peer-addrs 192.140.112.101,192.140.112.102 -initial-allowed-vserver-peers svm_560a3f3cb4d345f18297decc3a5988bc
                        passphrase: loremIpsum
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/backupVaults/{backupVaultId}/backups:
    get:
      operationId: v1beta_listBackups
      summary: Describe all backups for a backup vault
      description: Returns descriptions of all backups for a backup vault.
      tags:
        - backups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/backupVaultIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - in: query
          name: includeDeleted
          schema:
            type: boolean
          required: false
          allowEmptyValue: true
          description: 'If true, response will include deleted backups'
        - in: query
          name: volumeId
          schema:
            type: string
          allowEmptyValue: true
          description: 'Volume ID for which the backups are to be listed. If not present, all backups will be returned'
        - in: query
          name: onlyOrphanedBackups
          schema:
            type: boolean
          required: false
          allowEmptyValue: true
          description: 'If true, response will include only orphaned backups under the mentioned project'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      backups:
                        type: array
                        items:
                          $ref: '#/components/schemas/Backup_v1beta'
              example:
                backups:
                  - backupId: 9760acf5-4638-11e7-9bdb-020073ca3333
                    name: manual-backup1
                    volumeId: 9760acf5-4638-11e7-9bdb-020073ca0001
                    region: us-east4
                    created: '2017-02-02T00:00:00.000Z'
                    lifeCycleState: READY
                    lifeCycleStateDetails: Available for use
                    volumeUsageBytes: 387860629999
                  - backupId: 9760acf5-4638-11e7-9bdb-020073ca3334
                    name: manual-backup2
                    volumeId: 9760acf5-4638-11e7-9bdb-020073ca0001
                    region: us-east4
                    created: '2017-02-02T00:00:00.000Z'
                    lifeCycleState: READY
                    lifeCycleStateDetails: Available for use
                    volumeUsageBytes: 387860629999
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: v1beta_createBackup
      summary: Create a new backup
      description: >-
        Creates an ad-hoc backup.
      tags:
        - backups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/backupVaultIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new backup.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupCreate_v1beta'
      responses:
        '201':
          description: Created backup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_v1beta'
        '202':
          description: Creating backup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/backupVaults/{backupVaultId}/backups/{backupId}:
    get:
      operationId: v1beta_describeBackup
      summary: Describe a backup under backup vault
      description: Describe a backup present under a backup vault
      tags:
        - backups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/backupVaultIdPathParameter'
        - $ref: '#/components/parameters/backupIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - in: query
          name: volumeId
          schema:
            type: string
          required: false
          description: 'Describe a backup under a backup vault'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      backups:
                        type: array
                        items:
                          $ref: '#/components/schemas/Backup_v1beta'
              example:
                backups:
                  - backupId: 9760acf5-4638-11e7-9bdb-020073ca3333
                    name: manual-backup1
                    volumeId: 9760acf5-4638-11e7-9bdb-020073ca0001
                    region: us-east4
                    created: '2017-02-02T00:00:00.000Z'
                    lifeCycleState: READY
                    lifeCycleStateDetails: Available for use
                    volumeUsageBytes: 387860629999
                  - backupId: 9760acf5-4638-11e7-9bdb-020073ca3334
                    name: manual-backup2
                    volumeId: 9760acf5-4638-11e7-9bdb-020073ca0001
                    region: us-east4
                    created: '2017-02-02T00:00:00.000Z'
                    lifeCycleState: READY
                    lifeCycleStateDetails: Available for use
                    volumeUsageBytes: 387860629999
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1beta_deleteBackupUnderBackupVault
      summary: Delete a backup under backup vault
      description: Delete a backup under backup vault
      tags:
        - backups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/backupVaultIdPathParameter'
        - $ref: '#/components/parameters/backupIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: Deleted backup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_v1beta'
        '202':
          description: Deleting backup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: v1beta_updateBackup
      summary: Update a backup
      description: Update the backup. Only the backup description can be updated.
      tags:
        - backups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/backupVaultIdPathParameter'
        - $ref: '#/components/parameters/backupIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated. Only the backup description can be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupUpdate_v1beta'
      responses:
        '200':
          description: Updated backup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup_v1beta'
        '202':
          description: Deleting backup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/hostGroups:
    get:
      tags:
        - HostGroups
      summary: List all HostGroups
      description: Returns descriptions of all HostGroups owned by the caller.
      operationId: v1beta_listHostGroups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      hostGroups:
                        type: array
                        items:
                          $ref: '#/components/schemas/HostGroup_v1beta'
              example:
                hostGroups:
                  - HostGroupsId: 123e4567-e89b-12d3-a456-426614174000
                    resourceId: my-host-group
                    description: "HostGroup for storage access"
                    created: "2024-01-24T13:54:14.374Z"
                    updated: "2024-01-25T10:00:00.000Z"
                    state: READY
                    stateDetails: "available for use"
                    type: ISCSI_INITIATOR
                    hosts:
                      - iqn.1998-01.com.vmware:example1
                      - iqn.1998-01.com.vmware:example2
                    osType: LINUX
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - HostGroups
      summary: Create a new HostGroup
      description: Create a new HostGroup.
      operationId: v1beta_createHostGroup
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new HostGroup.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostGroup_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
                response:
                hostGroupId: 123e4567-e89b-12d3-a456-426614174000
                resourceId: my-host-group
                description: "HostGroup for storage access"
                created: "2024-01-24T13:54:14.374Z"
                state: READY
                stateDetails: "available for use"
                type: ISCSI_INITIATOR
                hosts:
                  - iqn.1998-01.com.vmware:example1
                osType: LINUX
        "202":
          description: Creating HostGroup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
                response:
                  hostGroupId: 123e4567-e89b-12d3-a456-426614174000
                  resourceId: my-host-group
                  description: "HostGroup for storage access"
                  created: "2024-01-24T13:54:14.374Z"
                  state: CREATING
                  stateDetails: "creation in progress"
                  type: ISCSI_INITIATOR
                  hosts:
                    - iqn.1998-01.com.vmware:example1
                  osType: LINUX
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/hostGroups/{hostGroupId}:
    get:
      tags:
        - HostGroups
      summary: Describe a HostGroup
      description: Returns the description of the specified HostGroup by hostGroupId.
      operationId: v1beta_describeHostGroup
      parameters:
        - $ref: '#/components/parameters/hostGroupIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostGroup_v1beta'
              example:
                hostGroupId: 123e4567-e89b-12d3-a456-426614174000
                resourceId: my-host-group
                description: "HostGroup for storage access"
                created: "2024-01-24T13:54:14.374Z"
                updated: "2024-01-25T10:00:00.000Z"
                state: READY
                stateDetails: "avilable for use"
                type: ISCSI_INITIATOR
                hosts:
                  - iqn.1998-01.com.vmware:example1
                osType: LINUX
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - HostGroups
      summary: Update a HostGroup
      description: Update the specified HostGroup.
      operationId: v1beta_updateHostGroup
      parameters:
        - $ref: '#/components/parameters/hostGroupIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated for the HostGroup.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostGroupUpdate_v1beta'
        required: true
      responses:
        "202":
          description: Updating HostGroup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
                response:
                  hostGroupId: 123e4567-e89b-12d3-a456-426614174000
                  resourceId: my-host-group
                  description: "Updated host group description"
                  updated: "2024-01-26T10:00:00.000Z"
                  state: UPDATING
                  stateDetails: "update in progress"
                  type: ISCSI_INITIATOR
                  hosts:
                    - iqn.1998-01.com.vmware:example1
                    - iqn.1998-01.com.vmware:example3
                  osType: WINDOWS
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    delete:
      tags:
        - HostGroups
      summary: Delete a HostGroup
      description: >
        Warning! This operation will permanently delete the HostGroup.
      operationId: v1beta_deleteHostGroup
      parameters:
        - $ref: '#/components/parameters/hostGroupIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "202":
          description: Deleting HostGroup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
        "204":
          description: No content
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/getMultipleHostGroups:
    post:
      tags:
        - HostGroups
      summary: List specified HostGroups
      description: Returns descriptions of HostGroups that are listed in request body.
      operationId: v1beta_getMultipleHostGroups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of HostGroup Uuids to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hostGroupIdList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      hostGroups:
                        type: array
                        items:
                          $ref: '#/components/schemas/HostGroup_v1beta'
              example:
                hostGroups:
                  - hostGroupId: 123e4567-e89b-12d3-a456-426614174000
                    resourceId: my-host-group
                    description: "HostGroup for storage access"
                    created: "2024-01-24T13:54:14.374Z"
                    updated: "2024-01-25T10:00:00.000Z"
                    state: READY
                    stateDetails: "available for use"
                    type: ISCSI_INITIATOR
                    hosts:
                      - iqn.1998-01.com.vmware:example1
                    osType: LINUX
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/operations/{operationId}:
    get:
      operationId: v1beta_describeOperation
      summary: Describes a long running operation
      tags:
        - async
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/operationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              examples:
                successExample:
                  summary: Successful operation
                  value:
                    done: true
                    name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                inProgressExample:
                  summary: Operation in progress
                  value:
                    done: false
                    name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                failedExample:
                  summary: Failed operation
                  value:
                    done: true
                    error:
                      code: 400
                      name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                      message: Error when creating destination volume - Could not query
                        DNS server. Verify that the network configuration is correct and
                        that DNS servers are available.
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '503':
          $ref: '#/components/responses/StandardError-503'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications:
    post:
      operationId: v1beta_createReplication
      summary: Create a new replication
      description: Create a new volume replication.
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new replication.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicationCreate_v1beta'
        required: true
      responses:
        '202':
          description: Creating replication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                "done": false
                "name": "/v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe"
                "response": {
                  "created": "2024-01-24T11:13:03.512Z",
                  "description": "My replication",
                  "destination": {
                    "volumeId": "00000000-0000-0000-0000-000000000000",
                    "volumeName": "projects/123456789/locations/some-location2/volumes/my-destination-volume",
                    "tieringPolicy": {
                      "tierAction": "ENABLED",
                      "coolingThresholdDays": 24
                    }
                  },
                  "healthy": true,
                  "mirrorState": "PREPARING",
                  "replicationSchedule": "EVERY_10_MINUTES",
                  "resourceId": "my-replication",
                  "role": "SOURCE",
                  "source": {
                    "volumeId": "b78e8675-7e6f-64ec-3ec2-163753add2d5",
                    "volumeName": "projects/123456789/locations/some-location1/volumes/my-source-volume"
                  },
                  "state": "CREATING",
                  "stateDetails": "Create in progress",
                  "stateDetailsCode": 0,
                  "transferStats": { }
                 }
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/getMultipleReplications:
    post:
      operationId: v1beta_getMultipleReplications
      summary: List specific replications
      description: Returns selected replication objects
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of replication URIs to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicationURIList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      replications:
                        type: array
                        items:
                          $ref: '#/components/schemas/Replication_v1beta'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/replications:
    get:
      operationId: v1beta_listReplications
      summary: List all volume replications
      description: >-
        Returns a list of all volume replications owned by the user
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      replications:
                        type: array
                        items:
                          $ref: '#/components/schemas/Replication_v1beta'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        '501':
          $ref: '#/components/responses/StandardError-501'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}:
    put:
      operationId: v1beta_updateReplication
      summary: Update replication
      description: Update the replication
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/replicationResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated for a replication.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicationUpdate_v1beta'
        required: true
      responses:
        '202':
          description: Updating replication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                "done": false
                "name": "/v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe"
                "response": {
                  "created": "2024-01-29T10:33:49.536Z",
                  "description": "My replication",
                  "destination": {
                    "volumeId": "a02acf13-00ae-8d17-3f9a-e6daa1473d5b",
                    "volumeName": "projects/123456789/locations/some-location2/volumes/my-destination-volume"
                  },
                  "healthy": true,
                  "mirrorState": "MIRRORED",
                  "replicationId": "3796c3d1-6524-9757-aedf-017e41a430ab",
                  "replicationSchedule": "HOURLY",
                  "resourceId": "my-replication",
                  "role": "SOURCE",
                  "source": {
                    "volumeId": "1a65c06a-94a1-f850-0a1a-d0d07b6f7560",
                    "volumeName": "projects/123456789/locations/some-location1/volumes/my-source-volume"
                  },
                  "clusterLocation": "Orlando",
                  "state": "UPDATING",
                  "stateDetails": "Update in progress",
                  "transferStats": {
                    "lagTime": 18,
                    "lastTransferEndTime": "2024-01-29T10:34:11.000Z",
                    "totalTransferBytes": 18872,
                    "totalTransferTimeSecs": 2
                  }
                 }
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1beta_deleteReplication
      summary: Delete replication
      description: Delete replication
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/replicationResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated for a replication.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicationDelete_v1beta'
        required: true
      responses:
        '202':
          description: Deleting replication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                "done": false
                "name": "/v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe"
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/stop:
    post:
      operationId: v1beta_stopReplication
      summary: Stop replication
      description: Stops a replication.
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/replicationResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to stop a replication.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplicationStop_v1beta'
        required: true
      responses:
        '202':
          description: Stopping replication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                application/json:
                  done: false
                  name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                  response: {
                    created: '2024-01-24T11:13:24.245Z',
                    description: My replication,
                    destination: {
                      volumeId: 20074ffe-4f2e-89d8-0ecf-7071ddce6030,
                      volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                    },
                    healthy: true,
                    mirrorState: MIRRORED,
                    replicationId: 3cc26ebf-b59a-ee3a-6854-47ca35f45691,
                    replicationSchedule: HOURLY,
                    resourceId: my-replication,
                    role: SOURCE,
                    source: {
                      volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5,
                      volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                    },
                    state: UPDATING,
                    stateDetails: Stop in progress,
                    stateDetailsCode: 0,
                    transferStats: {
                      lagTime: 169,
                      lastTransferDuration: 2,
                      lastTransferEndTime: '2024-01-26T15:52:43.000Z',
                      lastTransferSize: 3560,
                      totalTransferBytes: 1147392,
                      totalTransferTimeSecs: 660
                    }
                   }
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '422':
          $ref: '#/components/responses/StandardError-422'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeResourceId}/replications/{replicationResourceId}/resume:
    post:
      operationId: v1beta_resumeReplication
      summary: Resume replication
      description: Resume a replication.
      tags:
        - replications
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/volumeResourceIdPathParameter'
        - $ref: '#/components/parameters/replicationResourceIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        '202':
          description: Resuming replication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                application/json:
                  done: false,
                  name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                  response: {
                    created: '2024-01-24T11:13:24.245Z',
                    description: My replication,
                    destination: {
                      volumeId: 20074ffe-4f2e-89d8-0ecf-7071ddce6030,
                      volumeName: projects/123456789/locations/some-location2/volumes/my-destination-volume
                    },
                    healthy: true,
                    mirrorState: STOPPED,
                    replicationId: 3cc26ebf-b59a-ee3a-6854-47ca35f45691,
                    replicationSchedule: EVERY_10_MINUTES,
                    resourceId: my-replication,
                    role: SOURCE,
                    source: {
                      volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5,
                      volumeName: projects/123456789/locations/some-location1/volumes/my-source-volume
                    },
                    state: UPDATING,
                    stateDetails: Update in progress,
                    stateDetailsCode: 0,
                    transferStats: {
                      lagTime: 421,
                      lastTransferDuration: 2,
                      lastTransferEndTime: '2024-01-25T12:14:25.000Z',
[...]
