openapi: 3.0.4
info:
  title: Google Cloud NetApp Files API
  description: '## Google Cloud NetApp Files This is the documentation and examples
    for the "Google Cloud NetApp Files" or GNF for short'
  version: "${major_version}.${minor_version}.${patch_version}"
  x-logo:
    url: nfsaas-logo.png
    backgroundColor: '#FFFFFF'
servers:
  - url: http://netapp.googleapis.com/
  - url: https://netapp.googleapis.com/
tags:
  - name: pools
    description: Pool operations
  - name: volumes
    description: Volume operations
  - name: HostGroups
    description: HostGroup operations
paths:
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools:
    get:
      tags:
        - pools
      summary: List all pools
      description: Returns descriptions of all pools owned by the caller.
      operationId: v1beta_listPools
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - $ref: '#/components/parameters/includeDeletedQueryParameter'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      pools:
                        type: array
                        items:
                          $ref: '#/components/schemas/Pool_v1beta'
              example:
                pools:
                  - poolId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 9235cgf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1234456789/global/networks/network-to-netapp2
                    resourceId: my-pool
                    serviceLevel: PREMIUM
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2016-11-28T19:30:23.123Z
                    description: My pool description
                    ldapEnabled: false
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    allowAutoTiering: true
                  - poolId: 5fca0679-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 8543bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 9462cgf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1079058383248/global/networks/network-to-netapp2
                    resourceId: my-other-pool
                    serviceLevel: EXTREME
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2017-01-28T11:03:44.733Z
                    description: My pool description
                    ldapEnabled: false
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    allowAutoTiering: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - pools
      summary: Create a new pool
      description: Create a new pool.
      operationId: v1beta_createPool
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new pool.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool_v1beta'
        required: true
      responses:
        "202":
          description: Creating pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  activeDirectoryConfigId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  activeDirectoryResourceId: projects/123456789/locations/some-location1/activeDirectories/my-active-directory
                  allocatedBytes: 0
                  allowAutoTiering: false
                  createdAt: 2024-01-24T13:54:14.374Z
                  description: My Pool description
                  encryptionType: SERVICE_MANAGED
                  globalAccessAllowed: true
                  kmsConfigId: 6aae31f1-f685-4fda-b875-db0ea99235fc
                  kmsConfigResourceId: projects/123456789/locations/some-location1/kmsConfigs/my-resource
                  ldapEnabled: false
                  network: projects/123456789/global/networks/network-to-netapp2
                  numberOfVolumes: 0
                  poolId: bfa46013-1a1e-587b-ef9a-619bae6ba25d
                  resourceId: some-pool-name
                  serviceLevel: PREMIUM
                  sizeInBytes: 2199023255552
                  storageClass: HARDWARE
                  storagePoolState: READY
                  storagePoolStateDetails: Available for use
                  updatedAt: 2024-01-24T13:54:14.374Z
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
                  zone: us-east1-b
                  secondaryZone: us-east1-c
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/getMultiplePools:
    post:
      tags:
        - pools
      summary: List specified pools
      description: Returns descriptions of pools that is listed in request body.
      operationId: v1beta_getMultiplePools
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of pool UUIDs to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolIDList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      pools:
                        type: array
                        items:
                          $ref: '#/components/schemas/Pool_v1beta'
              example:
                pools:
                  - poolId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 9879acf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 5378acf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1079058383248/global/networks/network-to-netapp2
                    resourceId: my-pool
                    serviceLevel: PREMIUM
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2016-11-28T19:30:23.123Z
                    description: My pool description
                    ldapEnabled: false
                    allowAutoTiering: true
                  - poolId: 5fca0679-4638-11e7-9bdb-020073ca7773
                    activeDirectoryConfigId: 4892acf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 9346acf5-4638-11e7-9bdb-020073ca7773
                    network: projects/1079058383248/global/networks/network-to-netapp2
                    resourceId: my-other-pool
                    serviceLevel: EXTREME
                    sizeInBytes: 2199023255552
                    storagePoolState: READY
                    createdAt: 2016-11-28T19:30:23.123Z
                    updatedAt: 2017-01-28T11:03:44.733Z
                    description: My pool description
                    ldapEnabled: false
                    allowAutoTiering: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}:
    get:
      tags:
        - pools
      summary: Describe a pool
      description: Returns the description of the specified pool by pool ID.
      operationId: v1beta_describePool
      parameters:
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool_v1beta'
              example:
                PoolId: 9760acf5-4638-11e7-9bdb-020073ca7773
                activeDirectoryConfigId: 9232dgf5-4638-11e7-9bdb-020073ca7773
                kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                network: projects/1079058383248/global/networks/network-to-netapp2
                resourceId: my-pool
                serviceLevel: PREMIUM
                sizeInBytes: 2199023255552
                storagePoolState: READY
                createdAt: 2016-11-28T19:30:23.123Z
                updatedAt: 2016-11-28T19:30:23.123Z
                description: My pool description
                ldapEnabled: false
                labels:
                  someKey: SomeValue
                  someKey2: SomeValue2
                allowAutoTiering: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - pools
      summary: Update a pool
      description: Update the pool
      operationId: v1beta_updatePool
      parameters:
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolUpdate_v1beta'
        required: true
      responses:
        "202":
          description: Updating pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  activeDirectoryConfigId: 9760acf5-4638-11e7-9bdb-020073ca7773
                  activeDirectoryResourceId: projects/123456789/locations/some-location1/activeDirectories/active-directory
                  allocatedBytes: 10995116277760
                  allowAutoTiering: false
                  createdAt: 2024-01-24T13:54:14.374Z
                  description: My Pool description
                  encryptionType: SERVICE_MANAGED
                  globalAccessAllowed: true
                  ldapEnabled: false
                  network: projects/123456789/global/networks/systemic-qa-vpc
                  numberOfVolumes: 2
                  poolId: bfa46013-1a1e-587b-ef9a-619bae6ba25d
                  resourceId: my-pool
                  serviceLevel: PREMIUM
                  sizeInBytes: 12094627905536
                  storageClass: HARDWARE
                  storagePoolState: READY
                  storagePoolStateDetails: Available for use
                  updatedAt: 2024-01-24T13:54:14.374Z
                  zone: us-east1-b
                  labels:
                    someKey: SomeValue
                    someKey2: SomeValue2
        "204":
          description: No content
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    delete:
      tags:
        - pools
      summary: Delete a storage pool
      description: "Warning! This operation will permanently delete the pool. This\
        \ operation will never return resource not found, since that could be interpreted\
        \ as resource already deleted, and therefore will return operation done instead."
      operationId: v1beta_deletePool
      parameters:
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "202":
          description: Deleting pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        "204":
          description: No content
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes/{volumeId}:
    get:
      tags:
        - volumes
      summary: Describe a volume
      description: Returns the description of the specified volume by volume ID.
      operationId: v1beta_describeVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - name: volumeId
          in: path
          description: UUID v4 used to identify the volume
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_v1beta'
              example:
                volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                resourceId: my-volume
                created: 2016-11-29T20:14:50.459Z
                creationToken: happily-successful-einstein
                volumeState: READY
                volumeStateDetails: Available for use
                serviceLevel: EXTREME
                securityStyle: UNIX
                unixPermissions: "0755"
                usedBytes: 38786062792785
                quotaInBytes: 100000000000000
                snapReserve: 20
                encryptionType: SERVICE_MANAGED
                description: My volume description
                activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                labels:
                  someKey: SomeValue
                  someKey2: SomeValue2
                protocols:
                  - NFSV3
                snapshotPolicy:
                  enabled: true
                  hourlySchedule:
                    snapshotsToKeep: 6
                    minute: 0
                  dailySchedule:
                    snapshotsToKeep: 24
                    hour: 23
                    minute: 10
                  weeklySchedule:
                    snapshotsToKeep: 7
                    day: "Monday, Wednesday, Friday"
                    hour: 23
                    minute: 59
                  monthlySchedule:
                    snapshotsToKeep: 12
                    daysOfMonth: "15,31"
                    hour: 23
                    minute: 59
                exportPolicy:
                  rules:
                    - ruleIndex: 1
                      allowedClients: 0.0.0.0/0
                      accessType: READ_WRITE
                      nfsv3: true
                      nfsv4: false
                backupConfig:
                  backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                  backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                  scheduledBackupEnabled: true
                tieringPolicy:
                  tierAction: ENABLE
                  coolingThresholdDays: 40
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - volumes
      summary: Update a volume
      description: Update the volume
      operationId: v1beta_updateVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - name: volumeId
          in: path
          description: UUID v4 used to identify the volume
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
      requestBody:
        description: The parameters that can be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeUpdate_v1beta'
        required: true
      responses:
        "202":
          description: Updating volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: 2024-01-24T11:03:07.254Z
                  creationToken: some-volume
                  backupConfig:
                    backupPolicyId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    scheduledBackupEnabled: true
                  encryptionType: SERVICE_MANAGED
                  exportPolicy:
                    rules: []
                  inReplication: false
                  isDataProtection: false
                  kerberosEnabled: false
                  largeCapacity: false
                  ldapEnabled: false
                  mountPoints:
                    - export: /some-volume
                      exportFull: 1.2.3.4:/some-volume
                      instructions: |-
                        Setting up your instance
                        Open an SSH client and connect to your instance.
                        Install the nfs client on your instance.
                        On Red Hat Enterprise Linux or SuSE Linux instance:
                        sudo yum install -y nfs-utils
                        On an Ubuntu or Debian instance:
                        sudo apt-get install nfs-common
                        
                        Mounting your volume
                        Create a new directory on your instance, such as "/some-volume":
                        sudo mkdir /some-volume
                        Mount your volume using the example command below:
                        sudo mount -t nfs -o rw,hard,rsize=65536,wsize=65536,vers=3,tcp 1.2.3.4:/some-volume /some-volume
                        Note. Please use mount options appropriate for your specific workloads when known.
                      protocol: NFSV3
                  multipleEndpoints: false
                  network: projects/123456789/global/networks/systemic-qa-vpc
                  poolId: a20730de-511f-273c-4071-ac1a30478609
                  poolResourceId: projects/123456789/locations/some-location1/pools/some-pool
                  protocols:
                    - NFSV3
                  quotaInBytes: 4000000000000
                  resourceId: some-volume
                  securityStyle: UNIX
                  serviceLevel: PREMIUM
                  smbSettings: []
                  snapReserve: 0
                  snapshotDirectory: true
                  storageClass: HARDWARE
                  tieringPolicy:
                    tierAction: ENABLED
                    coolingThresholdDays: 24
                  unixPermissions: "0770"
                  usedBytes: 1409024
                  volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                  volumeState: READY
                  volumeStateDetails: Available for use
        "204":
          description: No content
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
    delete:
      tags:
        - volumes
      summary: Delete a volume
      description: "Warning! This operation will permanently delete the volume. This\
        \ operation will never return resource not found, since that could be interpreted\
        \ as resource already deleted, and therefore will return operation done instead."
      operationId: v1beta_deleteVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - name: volumeId
          in: path
          description: UUID v4 used to identify the volume
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deleteAssociatedBackups:
                  type: boolean
                  description: Delete all the associated backups for the given volume
                    ID or not
                  example: false
              nullable: false
              x-nullable: false
        required: false
      responses:
        "202":
          description: Deleting volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
        "204":
          description: No content
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/volumes:
    get:
      tags:
        - volumes
      summary: List all volumes
      description: Returns descriptions of all volumes owned by the caller.
      operationId: v1beta_listVolumes
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
        - $ref: '#/components/parameters/includeDeletedQueryParameter'
        - name: poolId
          in: query
          description: UUID v4 used to identify the pool
          schema:
            maxLength: 36
            minLength: 36
            pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
            type: string
        - name: includePolicies
          in: query
          description: "If true, export policy and snapshot policy will be included\
          \ for each file system"
          allowEmptyValue: true
          schema:
            type: boolean
        - name: includeSmbShareSettings
          in: query
          description: "If true, response will include SMB settings"
          allowEmptyValue: true
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      volumes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Volume_v1beta'
              example:
                volumes:
                  - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                    resourceId: big-data
                    created: 2017-01-29T09:10:30.384Z
                    creationToken: suddenly-distinguished-feynman
                    volumeState: READY
                    volumeStateDetails: Available for use
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    unixPermissions: "0755"
                    usedBytes: 38786062792785
                    quotaInBytes: 50000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    description: My volume description
                    activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3:
                            checked: true
                          nfsv4:
                            checked: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
                  - volumeId: 622EE7E2-afDD-536d-a337-F598Ef1f7a5A
                    resourceId: logs
                    created: 2017-02-13T10:11:10.345Z
                    creationToken: surprisingly-delighted-gandalf
                    volumeState: DELETING
                    volumeStateDetails: Deletion in progress
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    usedBytes: 78606279278
                    quotaInBytes: 1000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    description: My volume description
                    activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3:
                            checked: true
                          nfsv4:
                            checked: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - volumes
      summary: Create a new volume
      description: Create a new empty volume or a volume from a backup/snapshot if
        backup-ID/snapshot-ID is in the body parameters.
      operationId: v1beta_createVolume
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new volume.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeCreate_v1beta'
        required: true
      responses:
        "202":
          description: Creating volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/some-location1/operations/ba2c8826-2627-057c-42ba-343ee7ab1ebe
                response:
                  created: 2024-01-24T11:03:07.254Z
                  creationToken: some-volume
                  backupConfig:
                    backupPolicyId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    backupVaultId: 9760acf5-4638-11e7-9bdb-020073ca7773
                    scheduledBackupEnabled: true
                  encryptionType: SERVICE_MANAGED
                  exportPolicy:
                    rules: []
                  inReplication: false
                  isDataProtection: false
                  kerberosEnabled: false
                  largeCapacity: false
                  ldapEnabled: false
                  mountPoints: []
                  multipleEndpoints: false
                  network: projects/123456789/global/networks/systemic-qa-vpc
                  poolId: a20730de-511f-273c-4071-ac1a30478609
                  poolResourceId: projects/123456789/locations/some-location1/pools/some-pool
                  protocols:
                    - NFSV3
                  quotaInBytes: 4000000000000
                  resourceId: some-volume
                  securityStyle: UNIX
                  serviceLevel: PREMIUM
                  smbSettings: []
                  snapReserve: 0
                  snapshotDirectory: true
                  storageClass: HARDWARE
                  tieringPolicy:
                    tierAction: ENABLED
                    coolingThresholdDays: 24
                  unixPermissions: "0770"
                  usedBytes: 1409024
                  volumeId: b78e8675-7e6f-64ec-3ec2-163753add2d5
                  volumeState: CREATING
                  volumeStateDetails: Creation in progress
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        "501":
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 501
                message: Not Implemented
        "503":
          description: Service unavailable
          headers:
            Retry-After:
              description: A non-negative integer indicating the seconds to delay
                after the response is received
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 503
                message: Service is currently unavailable
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/getMultipleVolumes:
    post:
      tags:
        - volumes
      summary: List specified volumes
      description: Returns descriptions of volumes that is listed in request body.
      operationId: v1beta_getMultipleVolumes
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of volume UUIDs to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeIDList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      volumes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Volume_v1beta'
              example:
                volumes:
                  - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8a0E
                    resourceId: big-data
                    created: 2017-01-29T09:10:30.384Z
                    creationToken: suddenly-distinguished-feynman
                    volumeState: READY
                    volumeStateDetails: Available for use
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    unixPermissions: "0755"
                    usedBytes: 38786062792785
                    quotaInBytes: 50000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3: true
                          nfsv4: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
                  - volumeId: 49b96a2F-4a38-6fa4-2CC6-F598Ef2f8afE
                    resourceId: iscsi-volume-sample
                    created: 2017-01-29T09:10:30.384Z
                    creationToken: iscsi-volume-sample
                    volumeState: READY
                    volumeStateDetails: Available for use
                    serviceLevel: FLEX
                    usedBytes: 38786062792785
                    quotaInBytes: 50000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - ISCSI
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    mountPoints:
                      - export: ""
                        exportFull: ""
                        instructions: ""
                        ipAddress: "10.22.0.20"
                        protocol: "ISCSI"
                      - export: ""
                        exportFull: ""
                        instructions: ""
                        ipAddress: "10.22.0.21"
                        protocol: "ISCSI"
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
                    blockProperties:
                      hostGroupID: a20730de-511f-273c-4071-ac1a30478609
                      osType: linux
                  - volumeId: 622EE7E2-afDD-536d-a337-F598Ef1f7a5A
                    resourceId: logs
                    created: 2017-02-13T10:11:10.345Z
                    creationToken: surprisingly-delighted-gandalf
                    volumeState: DELETING
                    volumeStateDetails: Deletion in progress
                    serviceLevel: EXTREME
                    securityStyle: UNIX
                    usedBytes: 78606279278
                    quotaInBytes: 1000000000000
                    snapReserve: 20
                    encryptionType: SERVICE_MANAGED
                    activeDirectoryConfigUUID: 8064bdf5-4638-11e7-9bdb-020073ca7773
                    kmsConfigId: 2653acf5-4638-11e7-9bdb-020073ca7773
                    labels:
                      someKey: SomeValue
                      someKey2: SomeValue2
                    protocols:
                      - NFSV3
                    snapshotPolicy:
                      enabled: true
                      hourlySchedule:
                        snapshotsToKeep: 6
                        minute: 0
                      dailySchedule:
                        snapshotsToKeep: 24
                        hour: 23
                        minute: 10
                      weeklySchedule:
                        snapshotsToKeep: 7
                        day: "Monday, Wednesday, Friday"
                        hour: 23
                        minute: 59
                      monthlySchedule:
                        snapshotsToKeep: 12
                        daysOfMonth: "15,31"
                        hour: 23
                        minute: 59
                    exportPolicy:
                      rules:
                        - ruleIndex: 1
                          name: default
                          allowedClients: 0.0.0.0/0
                          accessType: READ_WRITE
                          nfsv3: true
                          nfsv4: false
                    backupConfig:
                      backupPolicyId: a990e99b-e2ec-c361-f463-67a54815b26d
                      backupVaultId: a990e99b-e2ec-c361-f463-67a54815b26d
                      scheduledBackupEnabled: true
                    tieringPolicy:
                      tierAction: ENABLE
                      coolingThresholdDays: 40
                    multipleEndpoints: false
                    largeCapacity: false
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/hostGroups:
    get:
      tags:
        - HostGroups
      summary: List all HostGroups
      description: Returns descriptions of all HostGroups owned by the caller.
      operationId: v1beta_listHostGroups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      hostGroups:
                        type: array
                        items:
                          $ref: '#/components/schemas/HostGroup_v1beta'
              example:
                hostGroups:
                  - HostGroupsID: 123e4567-e89b-12d3-a456-426614174000
                    resourceId: my-host-group
                    description: "HostGroup for storage access"
                    created: "2024-01-24T13:54:14.374Z"
                    updated: "2024-01-25T10:00:00.000Z"
                    state: READY
                    stateDetails: "available for use"
                    type: ISCSI_INITIATOR
                    hosts:
                      - iqn.1998-01.com.vmware:example1
                      - iqn.1998-01.com.vmware:example2
                    osType: linux
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
    post:
      tags:
        - HostGroups
      summary: Create a new HostGroup
      description: Create a new HostGroup.
      operationId: v1beta_createHostGroup
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The required parameters to create a new HostGroup.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostGroup_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
                response:
                hostGroupID: 123e4567-e89b-12d3-a456-426614174000
                resourceId: my-host-group
                description: "HostGroup for storage access"
                created: "2024-01-24T13:54:14.374Z"
                state: READY
                stateDetails: "available for use"
                type: ISCSI_INITIATOR
                hosts:
                  - iqn.1998-01.com.vmware:example1
                osType: linux
        "202":
          description: Creating HostGroup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
                response:
                  hostGroupID: 123e4567-e89b-12d3-a456-426614174000
                  resourceId: my-host-group
                  description: "HostGroup for storage access"
                  created: "2024-01-24T13:54:14.374Z"
                  state: CREATING
                  stateDetails: "creation in progress"
                  type: ISCSI_INITIATOR
                  hosts:
                    - iqn.1998-01.com.vmware:example1
                  osType: linux
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/hostGroups/{hostGroupId}:
    get:
      tags:
        - HostGroups
      summary: Describe a HostGroup
      description: Returns the description of the specified HostGroup by hostGroupId.
      operationId: v1beta_describeHostGroup
      parameters:
        - $ref: '#/components/parameters/hostGroupIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostGroup_v1beta'
              example:
                hostGroupID: 123e4567-e89b-12d3-a456-426614174000
                resourceId: my-host-group
                description: "HostGroup for storage access"
                created: "2024-01-24T13:54:14.374Z"
                updated: "2024-01-25T10:00:00.000Z"
                state: READY
                stateDetails: "avilable for use"
                type: ISCSI_INITIATOR
                hosts:
                  - iqn.1998-01.com.vmware:example1
                osType: linux
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
    put:
      tags:
        - HostGroups
      summary: Update a HostGroup
      description: Update the specified HostGroup.
      operationId: v1beta_updateHostGroup
      parameters:
        - $ref: '#/components/parameters/hostGroupIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: The parameters that can be updated for the HostGroup.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostGroupUpdate_v1beta'
        required: true
      responses:
        "202":
          description: Updating HostGroup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: false
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
                response:
                  hostGroupID: 123e4567-e89b-12d3-a456-426614174000
                  resourceId: my-host-group
                  description: "Updated host group description"
                  updated: "2024-01-26T10:00:00.000Z"
                  state: UPDATING
                  stateDetails: "update in progress"
                  type: ISCSI_INITIATOR
                  hosts:
                    - iqn.1998-01.com.vmware:example1
                    - iqn.1998-01.com.vmware:example3
                  osType: windows
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Conflict. Resource already exists
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
      x-codegen-request-body-name: body
    delete:
      tags:
        - HostGroups
      summary: Delete a HostGroup
      description: >
        Warning! This operation will permanently delete the HostGroup.
      operationId: v1beta_deleteHostGroup
      parameters:
        - $ref: '#/components/parameters/hostGroupIdPathParameter'
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      responses:
        "202":
          description: Deleting HostGroup
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_v1beta'
              example:
                done: true
                name: /v1beta/projects/123456789/locations/us-east1/operations/123e4567-e89b-12d3-a456-426614174000
        "204":
          description: No content
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
      x-codegen-request-body-name: body
  /v1beta/projects/{projectNumber}/locations/{locationId}/hostGroups/getMultipleHostGroups:
    post:
      tags:
        - HostGroups
      summary: List specified HostGroups
      description: Returns descriptions of HostGroups that are listed in request body.
      operationId: v1beta_getMultipleHostGroups
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/xCorrelationIdHeader'
      requestBody:
        description: A list of HostGroup UUIDs to return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostGroupIDList_v1beta'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      hostGroups:
                        type: array
                        items:
                          $ref: '#/components/schemas/HostGroup_v1beta'
              example:
                hostGroups:
                  - hostGroupID: 123e4567-e89b-12d3-a456-426614174000
                    resourceId: my-host-group
                    description: "HostGroup for storage access"
                    created: "2024-01-24T13:54:14.374Z"
                    updated: "2024-01-25T10:00:00.000Z"
                    state: READY
                    stateDetails: "available for use"
                    type: ISCSI_INITIATOR
                    hosts:
                      - iqn.1998-01.com.vmware:example1
                    osType: linux
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Bad Request or Input
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Unauthorized access attempt
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Access to this resource forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: The resource was not found
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 422
                message: protocols in body is required
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 429
                message: Rate limit exceeded for this endpoint - try again later
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal server error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: body
components:
  schemas:
    Error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: number
          format: double
          nullable: false
        message:
          type: string
          nullable: false
      description: Error response
      example:
        code: 1994.0
        message: Out of cheese error! Please reboot the Universe
    ServiceLevel_v1beta:
      title: ServiceLevel
      type: object
      properties:
        name:
          title: name
          type: string
          description: The name of the service level
          readOnly: true
          example: PREMIUM
          enum:
            - SERVICE_LEVEL_UNSPECIFIED
            - FLEX
            - STANDARD
            - PREMIUM
            - EXTREME
        performance:
          title: performance
          type: string
          description: The performance of the service level
          readOnly: true
          example: high
          enum:
            - medium
            - high
    Any_v1Beta:
      title: Any
      required:
        - '@type'
      type: object
      properties:
        '@type':
          title: '@type'
          type: string
          description: The URL of the type
          example: type.googleapis.com/google.protobuf.Struct
        AnyValue:
          type: object
          properties: {}
    Status_v1Beta:
      title: Status
      type: object
      properties:
        code:
          title: code
          type: number
          description: The status code
          format: double
          example: 7.0
        message:
          title: message
          type: string
          description: A developer-facing error message
        details:
          title: details
          type: array
          items:
            $ref: '#/components/schemas/Any_v1Beta'
    Operation_v1beta:
      title: Operation
      type: object
      properties:
        name:
          title: name
          type: string
          description: The full resource name of the operation
          example: projects/123456789/locations/us-east4/operations/00000000-0000-0000-0000-000000000000
        metadata:
          $ref: '#/components/schemas/Any_v1Beta'
        done:
          title: done
          type: boolean
          description: Is the operation done yet
          default: false
        error:
          $ref: '#/components/schemas/Status_v1Beta'
        response:
          title: response
          type: object
          properties: {}
    BlockProperties_v1beta:
      title: BlockProperties
      type: object
      properties:
        osType:
          $ref: '#/components/schemas/osType_v1beta'
        hostGroupID:
          title: hostGroupID
          type: string
          description: UUID v4 used to identify the HostGroup
          example: 123e4567-e89b-12d3-a456-426614174000
    osType_v1beta:
      title: osType
      type: string
      description: The name of the operating system type
      enum:
        - OS_TYPE_UNSPECIFIED
        - linux
        - windows
        - esxi
      example: linux
    HostGroup_v1beta:
      title: HostGroup
      type: object
      required:
        - resourceId
        - hosts
        - osType
      properties:
        hostGroupID:
          title: hostGroupID
          type: string
          description: UUID v4 used to identify the HostGroup
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426614174000
        resourceId:
          title: resourceId
          type: string
          description: A human readable label for the HostGroup
          example: my-host-group
        description:
          title: description
          type: string
          description: Description of the HostGroup
          example: "HostGroup for storage access"
        created:
          title: created
          type: string
          format: date-time
          readOnly: true
          example: "2024-01-24T13:54:14.374Z"
        updated:
          title: updated
          type: string
          format: date-time
          readOnly: true
          example: "2024-01-25T10:00:00.000Z"
        deleted:
          title: deleted
          type: string
          format: date-time
          nullable: true
          readOnly: true
          example: "2024-01-26T10:00:00.000Z"
        state:
          title: state
          type: string
          description: The current lifecycle state of the HostGroup
          readOnly: true
          example: READY
          enum:
            - STATE_UNSPECIFIED
            - CREATING
            - READY
            - UPDATING
            - DELETING
            - ERROR
        stateDetails:
          title: stateDetails
          type: string
          description: Details about the current lifecycle state
          readOnly: true
          example: "avilable for use"
        type:
          title: type
          type: string
          description: The type of initiators
          enum:
            - UNSPECIFIED
            - ISCSI_INITIATOR
          example: ISCSI_INITIATOR
        hosts:
          title: hosts
          type: array
          description: List of iSCSI Qualified Names associated with this HostGroup
          items:
            type: string
          example:
            - iqn.1998-01.com.vmware:example1
            - iqn.1998-01.com.vmware:example2
        osType:
          $ref: '#/components/schemas/osType_v1beta'
    HostGroupUpdate_v1beta:
      title: HostGroup
      type: object
      properties:
        description:
          title: description
          type: string
          description: Updated description of the HostGroup
          example: "Updated host group description"
        hosts:
          title: hosts
          type: array
          description: List of iSCSI Qualified Names associated with this HostGroup
          items:
            type: string
          example:
            - iqn.1998-01.com.vmware:example1
            - iqn.1998-01.com.vmware:example3
    PoolUpdate_v1beta:
      title: Pool
      type: object
      properties:
        sizeInBytes:
          title: sizeInBytes
          type: number
          description: Maximum size allowed for a pool in bytes.
          format: double
          nullable: true
          example: 12094627905536
        description:
          title: description
          maxLength: 2048
          type: string
          description: Description of the pool
          nullable: true
          example: My Pool description
        zone:
          title: zone
          type: string
          description: The target zone to which the storage pool has to be migrated.
          example: us-east1-b
        globalAccessAllowed:
          title: globalAccessAllowed
          type: boolean
          description: Flag indicating the enablement of global access on the load
            balancers
          nullable: true
          example: true
        labels:
          title: labels
          type: object
          additionalProperties:
            type: string
          description: JSON dictionary of resource labels to allow linking of billing
            labels to a pool
          example:
            someKey: SomeValue
            someKey2: SomeValue2
        activeDirectoryConfigId:
          maxLength: 36
          minLength: 36
          pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          type: string
          description: UUID of Active Directory configuration
          nullable: true
          example: 9760acf5-4638-11e7-9bdb-020073ca7773
        allowAutoTiering:
          title: allowAutoTiering
          type: boolean
          description: Flag indicating if the pool supports auto tiering enabled volumes
            or not.
          nullable: true
        hotTierSizeInBytes:
          title: hotTierSizeInBytes
          type: number
          description: Hot-tier size of the pool (in bytes) if auto-tiering is enabled
            (valid only for FLEX)
          format: double
          nullable: true
          example: 1099511627776
          x-omitempty: true
        enableHotTierAutoResize:
          title: enableHotTierAutoResize
          type: boolean
          description: Flag indicating if the pool supports hot-tier resize on reaching
            the hot-tier threshold (not valid for FLEX)
          nullable: true
        qosType:
          title: qosType
          type: string
          description: The type of QoS for the pool
          nullable: true
          example: auto
          enum:
            - auto
            - manual
        customPerformanceEnabled:
          title: customPerformanceEnabled
          type: boolean
          description: Flag indicating if the custom performance is enabled for the
            pool.
          nullable: true
        totalThroughputMibps:
          title: totalThroughputMibps
          type: number
          description: Total throughput of a pool in MiBps
          format: double
          nullable: true
          example: 164.0
        totalIops:
          title: totalIops
          type: number
          description: The total iops set for a pool.
          format: double
          nullable: true
          example: 1600.0
    Pool_v1beta:
      title: Pool
      required:
        - network
        - resourceId
        - serviceLevel
        - sizeInBytes
      type: object
      properties:
        activeDirectoryConfigId:
          maxLength: 36
          minLength: 36
          pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          type: string
          description: UUID of Active Directory configuration
          nullable: true
          example: 9760acf5-4638-11e7-9bdb-020073ca7773
        activeDirectoryResourceId:
          title: activeDirectoryResourceId
          type: string
          description: The resource ID for the connected Active Directory
          readOnly: true
          example: projects/my-project-1/locations/eu-west-1/activeDirectories/mydirectory
        kmsConfigId:
          maxLength: 36
          minLength: 36
          pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          type: string
          description: UUID of the key to be used for encryption.
          nullable: true
          example: 6aae31f1-f685-4fda-b875-db0ea99235fc
        kmsConfigResourceId:
          title: kmsConfigResourceId
          type: string
          description: The resource ID for the connected KMS configuration
          readOnly: true
          example: projects/my-project-1/locations/eu-west-1/kmsConfigs/myconfig
        network:
          title: network
          pattern: "^projects\\/\\d+\\/global\\/networks\\/(![0-9]+$)?(!.*-$)?(!-)?[a-zA-Z0-9-]{1,63}$"
          type: string
          description: Servicenetworking.connections.network value that is returned
            after creating a successful VPC peering connection via the GCP service-networking
            API
          example: projects/123456789/global/networks/network-to-netapp2
        poolId:
          title: PoolId
          maxLength: 36
          minLength: 36
          pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          type: string
          description: UUID v4 used to identify the pool
          readOnly: true
          example: 9760acf5-4638-11e7-9bdb-020073ca7773
        resourceId:
          title: resourceId
          maxLength: 63
          pattern: "^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$"
          type: string
          description: "A human readable label for the resource which is restricted\
            \ to letters, numbers, and hyphen, with the first character a letter,\
            \ the last a letter or a number, and a 63 character maximum"
          example: some-pool-name
        serviceLevel:
          title: serviceLevel
          type: string
          description: "The service level of the storage pool can either be premium,\
            \ standard, flex or extreme."
          example: PREMIUM
          enum:
            - SERVICE_LEVEL_UNSPECIFIED
            - FLEX
            - STANDARD
            - PREMIUM
            - EXTREME
        qosType:
          title: qosType
          type: string
          description: The type of QoS for the pool
          nullable: true
[...]
