openapi: 3.0.4
info:
  title: ONTAP Proxy API
  version: "${major_version}.${minor_version}.${patch_version}"
servers:
  - url: http://ontap-proxy.netapp.com/
  - url: https://ontap-proxy.netapp.com/
tags:
  - name: health
    description: Health check operations
  - name: snaplock
    description: SnapLock file operations
  - name: cli
    description: ONTAP CLI command execution
  - name: licensing
    description: Cluster licensing operations (admin credentials)
  - name: snapmirror-object-store
    description: SnapMirror object store endpoint and snapshot operations (passthrough to ONTAP REST)
paths:
  /health:
    get:
      operationId: getHealth
      summary: Get the server health status
      description: Returns the server health status
      tags:
        - health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cacheStatus:
    get:
      operationId: getCacheStatus
      summary: Get auth cache status
      description: Returns the auth cache entries with cache key and expiry information (no sensitive data)
      tags:
        - health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheStatus'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/file/{volumeUuid}/{filePath}:
    delete:
      operationId: snaplockFileDelete
      summary: Privileged delete of unexpired WORM file
      description: |
        Performs a privileged delete of an unexpired WORM file on a SnapLock volume.
        
        This operation:
        1. Fetches admin credentials for the pool
        2. Retrieves volume information from ONTAP
        3. Executes the CLI command for privileged delete
        4. Returns the deletion result
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/volumeUuidPathParameter'
        - $ref: '#/components/parameters/filePathPathParameter'
      responses:
        '200':
          description: File deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockFileRetentionJobLinkResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/private/cli:
    post:
      operationId: v1_privateCli
      summary: Execute ONTAP CLI command
      description: |
        Executes an ONTAP CLI command through the private CLI API.
        
        This operation:
        1. Parses and validates the CLI command against the rule engine
        2. Fetches appropriate credentials based on command requirements
        3. Executes the CLI command on ONTAP
        4. Filters response fields based on configured rules
        5. Returns the CLI output
        
        Commands are subject to the CLI rule engine which can:
        - Allow or deny specific commands
        - Apply conditional validation
        - Remove sensitive fields from response
        
        Requires the caller to have netapp.googleapis.com/ontapModeRead or ontapModeAdmin permission
        depending on the command.
      tags:
        - cli
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLIExecuteRequest'
      responses:
        '200':
          description: CLI command executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIExecuteResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/cluster/licensing/access-tokens:
    post:
      operationId: v1_clusterLicensingAccessTokensCreate
      summary: Request an access token
      description: |
        Requests an access token (same as ONTAP REST POST /api/cluster/licensing/access-tokens).
        
        This operation:
        1. Fetches admin credentials for the pool
        2. Forwards the request body to ONTAP POST /api/cluster/licensing/access-tokens
        3. Returns the access token information from ONTAP
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - licensing
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: Access token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenInfo'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}:
    get:
      operationId: v1_getDestinationEndpointInfo
      summary: Get object store destination endpoint info
      description: |
        Retrieves information for the specified SnapMirror object store destination endpoint.
        Proxies to ONTAP GET /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}.
        Depends on an existing SnapMirror relationship (created via POST /api/snapmirror/relationships).
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
      responses:
        '200':
          description: OK - object store endpoint info from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreEndpointInfo'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1_deleteDestinationEndpoint
      summary: Delete object store destination endpoint data
      description: |
        Deletes all data of the specified endpoint within the object store (populated by SnapMirror).
        Proxies to ONTAP DELETE /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}.
        Depends on an existing SnapMirror relationship.
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
      responses:
        '200':
          description: OK - job link response from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreEndpointInfoJobLinkResponse'
        '202':
          description: Accepted - operation in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreEndpointInfoJobLinkResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots:
    get:
      operationId: v1_getSnapshots
      summary: List object store endpoint snapshots
      description: |
        Retrieves snapshot information for the specified object store endpoint.
        Proxies to ONTAP GET /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots.
        Depends on an existing SnapMirror relationship.
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
      responses:
        '200':
          description: OK - snapshot collection from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshotResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots/{snapshotId}:
    delete:
      operationId: v1_deleteSnapshot
      summary: Delete object store endpoint snapshot
      description: |
        Deletes a snapshot from the object store endpoint.
        Proxies to ONTAP DELETE /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots/{snapshotId}.
        Depends on an existing SnapMirror relationship.
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
        - $ref: '#/components/parameters/snapshotIdPathParameter'
      responses:
        '200':
          description: OK - job link response from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse'
        '202':
          description: Accepted - operation in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    projectNumberPathParameter:
      name: projectNumber
      in: path
      description: The project number of the GCP project owning the resource
      required: true
      schema:
        type: string
        maxLength: 18
        pattern: "^[1-9][0-9]{0,18}$"
        example: "123456789"
    locationIdPathParameter:
      name: locationId
      in: path
      description: The location/region to perform the operation in
      required: true
      schema:
        type: string
        maxLength: 255
        example: "us-east1"
    poolIdPathParameter:
      name: poolId
      in: path
      description: UUID v4 used to identify the storage pool
      required: true
      schema:
        type: string
        format: uuid
        maxLength: 36
        minLength: 36
        pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
        example: "550e8400-e29b-41d4-a716-446655440000"
    volumeUuidPathParameter:
      name: volumeUuid
      in: path
      description: UUID of the volume
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    filePathPathParameter:
      name: filePath
      in: path
      description: |
        URL-encoded file path. Slashes in the path must be encoded as %2F.
        Example: dir%2Fsubdir%2Ffile.txt for dir/subdir/file.txt
      required: true
      schema:
        type: string
        example: "dir%2Ffile.txt"
    objectStoreIdPathParameter:
      name: objectStoreId
      in: path
      description: UUID of the SnapMirror object store (same as cloud target UUID from GET /api/cloud/targets)
      required: true
      schema:
        type: string
        format: uuid
        example: "cd9563a0-2e59-11ea-a778-00505682bd8f"
    destinationEndpointIdPathParameter:
      name: destinationEndpointId
      in: path
      description: UUID of the object store destination endpoint
      required: true
      schema:
        type: string
        format: uuid
        example: "af86c94c-bcb2-4b4e-b8cc-c294793a310a"
    snapshotIdPathParameter:
      name: snapshotId
      in: path
      description: UUID of the snapshot in the object store endpoint
      required: true
      schema:
        type: string
        format: uuid
        example: "04fb1ddb-2947-4eb0-af09-3eb6dc538926"
  schemas:
    Health:
      type: object
      title: Health
      properties:
        status:
          title: healthStatus
          type: string
          readOnly: true
          description: Server health status
          example: healthy
    CacheStatus:
      type: object
      title: CacheStatus
      properties:
        entries:
          type: array
          description: List of cache entries
          items:
            $ref: '#/components/schemas/CacheEntry'
        totalEntries:
          type: integer
          description: Total number of cache entries
          example: 5
    CacheEntry:
      type: object
      title: CacheEntry
      properties:
        cacheKey:
          type: string
          description: The cache key (pool ID)
          example: "pool-123"
        cachedAt:
          type: string
          format: date-time
          description: Timestamp when the entry was cached
          example: "2025-12-22T10:30:00Z"
        expiresAt:
          type: string
          format: date-time
          description: Timestamp when the entry will expire
          example: "2025-12-29T10:30:00Z"
    # Aligned with ontap-rest swagger definitions access_token_request and access_token_info
    AccessTokenRequest:
      type: object
      title: AccessTokenRequest
      description: Request an access token (same as ONTAP access_token_request).
      properties:
        client_id:
          type: string
          description: Name of the ISV application requesting an access token.
          example: XYZ Software
        client_secret:
          type: string
          description: Content of the ISV license.
        grant_type:
          type: string
          description: ISV application grant type.
          enum:
            - client_credentials
          default: client_credentials
          example: client_credentials
    AccessTokenInfo:
      type: object
      title: AccessTokenInfo
      description: Access token information (same as ONTAP access_token_info).
      properties:
        access_token:
          type: string
          description: Access token that is used by the ISV application to access the protected APIs.
        expires_in:
          type: integer
          format: int64
          description: Number of seconds after which an access token expires.
          default: 604800
          example: 1036800
        token_type:
          type: string
          description: Access token type.
          enum:
            - bearer
          default: bearer
          example: bearer
    CLIExecuteRequest:
      type: object
      title: CLIExecuteRequest
      description: Request to execute an ONTAP CLI command
      required:
        - input
      properties:
        input:
          type: string
          description: The ONTAP CLI command to execute
          example: "system node run -node * -command options wafl.maxvolclonehier 499"
          maxLength: 4096
        privilege:
          type: string
          description: The privilege level for the command. Only 'admin' is allowed.
          enum:
            - admin
          default: "admin"
          example: "admin"
    CLIExecuteResponse:
      type: object
      title: CLIExecuteResponse
      description: Response from ONTAP CLI command execution
      properties:
        output:
          type: string
          description: CLI command output
          example: "You are changing option wafl.maxvolclonehier, which applies to\nboth members of the HA\nconfiguration in takeover mode.\n"
    Error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
        message:
          type: string
          description: Error message
    OntapPassthroughResponse:
      type: object
      description: Passthrough response from ONTAP REST API (structure varies by endpoint)
      additionalProperties: true
    ObjectStoreEndpointInfo:
      type: object
      title: ObjectStoreEndpointInfo
      description: Destination endpoint info. Aligned with ontap-rest swagger object_store_endpoint_info.
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        archived_objects:
          type: boolean
          description: Whether the endpoint has objects in archival storage.
        destination:
          type: object
          properties:
            logical_size:
              type: integer
              format: int64
              description: Logical size of the destination endpoint.
        object_store:
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Href'
            container:
              type: string
              description: Object store container hosting the endpoint.
            name:
              type: string
              description: Object store configuration name.
            provider_type:
              type: string
              enum: [aws_s3, sgws, azure_cloud, s3_compatible, ibm_cos, alicloud, googlecloud, ontap_s3]
            uuid:
              type: string
              format: uuid
        source:
          type: object
          properties:
            endpoint:
              type: object
              properties:
                _links:
                  type: object
                  properties:
                    self:
                      $ref: '#/components/schemas/Href'
                name:
                  type: string
                svm:
                  type: object
                  properties:
                    _links:
                      type: object
                      properties:
                        self:
                          $ref: '#/components/schemas/Href'
                    name:
                      type: string
                    uuid:
                      type: string
                type:
                  type: string
                  enum: [volume, flexgroup]
                uuid:
                  type: string
                  format: uuid
            physical_size:
              type: integer
              format: int64
            type:
              type: string
              enum: [rw, dp]
            virtual_size:
              type: integer
              format: int64
        uuid:
          type: string
          format: uuid
          description: Destination endpoint UUID.
    ObjectStoreEndpointInfoJobLinkResponse:
      type: object
      title: ObjectStoreEndpointInfoJobLinkResponse
      description: Job link response for destination endpoint operations. Aligned with ontap-rest object_store_endpoint_info_job_link_response.
      properties:
        job:
          $ref: '#/components/schemas/JobLink'
        num_records:
          type: integer
          description: Number of records.
        records:
          type: array
          items:
            $ref: '#/components/schemas/ObjectStoreEndpointInfo'
    ObjectStoreRef:
      type: object
      description: Object store reference. Aligned with ontap-rest object_store (minimal).
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        uuid:
          type: string
          format: uuid
    ObjectStoreEndpointRef:
      type: object
      description: Object store endpoint reference. Aligned with ontap-rest object_store_endpoint (minimal).
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        uuid:
          type: string
          format: uuid
    SnapmirrorObjectStoreEndpointSnapshot:
      type: object
      title: SnapmirrorObjectStoreEndpointSnapshot
      description: Snapshot for an object store endpoint. Aligned with ontap-rest snapmirror_object_store_endpoint_snapshot.
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        archived_objects:
          type: boolean
        create_time:
          type: string
          format: date-time
        endpoint:
          $ref: '#/components/schemas/ObjectStoreEndpointRef'
        group_member_count:
          type: integer
          format: int64
        logical_size:
          type: integer
          format: int64
        name:
          type: string
        object_store:
          $ref: '#/components/schemas/ObjectStoreRef'
        retention_until_date:
          type: string
          format: date-time
        snapmirror_label:
          type: string
        snapshot_lock_state:
          type: string
          enum: [not_locked, locked, cannot_be_locked, lock_expired]
        snapshot_state:
          type: string
          enum: [in_transfer, transferred, deleted, delete_cleanup, recyclable]
        uuid:
          type: string
          format: uuid
        version_uuid:
          type: string
          format: uuid
    SnapmirrorObjectStoreEndpointSnapshotResponse:
      type: object
      title: SnapmirrorObjectStoreEndpointSnapshotResponse
      description: Snapshot list response. Aligned with ontap-rest snapmirror_object_store_endpoint_snapshot_response.
      properties:
        _links:
          type: object
          properties:
            next:
              $ref: '#/components/schemas/Href'
            self:
              $ref: '#/components/schemas/Href'
        num_records:
          type: integer
        records:
          type: array
          items:
            $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshot'
    SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse:
      type: object
      title: SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse
      description: Job link response for snapshot delete. Aligned with ontap-rest snapmirror_object_store_endpoint_snapshot_job_link_response.
      properties:
        job:
          $ref: '#/components/schemas/JobLink'
        num_records:
          type: integer
        records:
          type: array
          items:
            $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshot'
    SnaplockFileRetentionJobLinkResponse:
      type: object
      title: SnaplockFileRetentionJobLinkResponse
      description: Response for snaplock file operations
      properties:
        job:
          $ref: '#/components/schemas/JobLink'
        num_records:
          type: integer
          description: Number of records in the response
        records:
          type: array
          items:
            $ref: '#/components/schemas/SnaplockFileRetention'
    SnaplockFileRetention:
      type: object
      title: SnaplockFileRetention
      description: Snaplock file retention record
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        expiry_time:
          type: string
          description: File expiry time
        file:
          $ref: '#/components/schemas/FileInfo'
        is_expired:
          type: boolean
          description: Whether the file retention has expired
        retention_period:
          type: string
          description: Retention period
        seconds_until_expiry:
          type: integer
          format: int64
          description: Seconds until expiry
        volume:
          $ref: '#/components/schemas/VolumeRef'
    FileInfo:
      type: object
      title: FileInfo
      properties:
        path:
          type: string
          description: File path
    VolumeRef:
      type: object
      title: VolumeRef
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        name:
          type: string
          description: Volume name
        uuid:
          type: string
          description: Volume UUID
    JobLink:
      type: object
      title: JobLink
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        uuid:
          type: string
          description: Job UUID
    SelfLink:
      type: object
      title: SelfLink
      properties:
        self:
          $ref: '#/components/schemas/Href'
    Href:
      type: object
      title: Href
      properties:
        href:
          type: string
          description: Link URL
  responses:
    StandardError-400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request or Input
    StandardError-401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            message: Unauthorized access attempt
    StandardError-403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 403
            message: Forbidden
    StandardError-404:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Resource not found
    StandardError-429:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            message: Too many requests
    StandardError-500:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 500
            message: Internal server error
