openapi: 3.0.4
info:
  title: ONTAP Proxy API
  version: "${major_version}.${minor_version}.${patch_version}"
servers:
  - url: http://ontap-proxy.netapp.com/
  - url: https://ontap-proxy.netapp.com/
tags:
  - name: health
    description: Health check operations
  - name: snaplock
    description: SnapLock file, litigation operations and event retention
  - name: cli
    description: ONTAP CLI command execution
  - name: licensing
    description: Cluster licensing operations (admin credentials)
  - name: snapmirror-object-store
    description: SnapMirror object store endpoint and snapshot operations (passthrough to ONTAP REST)
paths:
  /health:
    get:
      operationId: getHealth
      summary: Get the server health status
      description: Returns the server health status
      tags:
        - health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cacheStatus:
    get:
      operationId: getCacheStatus
      summary: Get auth cache status
      description: Returns the auth cache entries with cache key and expiry information (no sensitive data)
      tags:
        - health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheStatus'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '429':
          $ref: '#/components/responses/StandardError-429'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/file/{volumeUuid}/{filePath}:
    delete:
      operationId: snaplockFileDelete
      summary: Privileged delete of unexpired WORM file
      description: |
        Performs a privileged delete of an unexpired WORM file on a SnapLock volume.
        
        This operation:
        1. Fetches admin credentials for the pool
        2. Retrieves volume information from ONTAP
        3. Executes the CLI command for privileged delete
        4. Returns the deletion result
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/volumeUuidPathParameter'
        - $ref: '#/components/parameters/filePathPathParameter'
      responses:
        '200':
          description: File deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockFileRetentionJobLinkResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/event-retention/policies:
    get:
      operationId: v1_listEventRetentionPolicies
      summary: List all Event Based Retention (EBR) policies
      description: |
        Retrieves all event retention policies for an SVM.
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - name: max_records
          in: query
          description: Maximum number of records to return
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: List of EBR policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EBRPolicyResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: v1_createEventRetentionPolicy
      summary: Create an Event Based Retention (EBR) policy
      description: |
        Creates an Event Based Retention (EBR) policy for an SVM.
        
        Required properties:
        - name: Event retention policy name
        - retention_period: Retention period in ISO-8601 format (e.g., "P10Y", "P30M") or "infinite" or "unspecified"
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EBRPolicy'
      responses:
        '201':
          description: EBR policy created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EBRPolicy'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '409':
          $ref: '#/components/responses/StandardError-409'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/event-retention/policies/{policy.name}:
    get:
      operationId: v1_getEventRetentionPolicy
      summary: Get a specific EBR policy
      description: |
        Retrieves details of a specific Event Based Retention (EBR) policy by name.
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - name: policy.name
          in: path
          description: Name of the retention policy (alphanumeric, hyphen, underscore, period only; 1-256 chars)
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 256
            pattern: '^[a-zA-Z0-9_.-]+$'
      responses:
        '200':
          description: EBR policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EBRPolicy'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: v1_updateEventRetentionPolicy
      summary: Update an EBR policy
      description: |
        Updates the retention period of an Event Based Retention (EBR) policy.
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - name: policy.name
          in: path
          description: Name of the retention policy (alphanumeric, hyphen, underscore, period only; 1-256 chars)
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 256
            pattern: '^[a-zA-Z0-9_.-]+$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                retention_period:
                  type: string
                  description: Retention period in ISO-8601 format or "infinite" or "unspecified"
                  example: "P5Y"
      responses:
        '200':
          description: Policy updated successfully
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1_deleteEventRetentionPolicy
      summary: Delete an EBR policy
      description: |
        Deletes the specified Event Based Retention (EBR) policy.
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - name: policy.name
          in: path
          description: Name of the retention policy (alphanumeric, hyphen, underscore, period only; 1-256 chars)
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 256
            pattern: '^[a-zA-Z0-9_.-]+$'
      responses:
        '200':
          description: Policy deleted successfully
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/litigations:
    get:
      operationId: v1_snaplockLitigationCollectionGet
      summary: List SnapLock litigations
      description: |
        Retrieves the list of litigations under the SVM.
        Uses ONTAP CLI `snaplock legal-hold show` per volume (with -instance) to gather litigation records.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockLitigationListResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: v1_snaplockLitigationBegin
      summary: Start a SnapLock legal hold (litigation)
      description: |
        Starts a legal hold on a path in a SnapLock volume.
        Uses ONTAP CLI `snaplock legal-hold begin`. Required properties: litigation_name, path, volume_uuid.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnaplockLitigationBeginRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockLitigationResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/litigations/{litigationId}:
    get:
      operationId: v1_snaplockLitigationGet
      summary: Get a SnapLock litigation
      description: |
        Retrieves the litigation for the given litigation ID (volumeUuid:litigationName).
        Uses ONTAP CLI `snaplock legal-hold show -vserver -volume -litigation-name -instance`.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/litigationIdPathParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockLitigationResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1_snaplockLitigationEnd
      summary: End a SnapLock legal hold (litigation)
      description: |
        Ends the legal hold for all files under the specified litigation (litigation ID is volumeUuid:litigationName).
        Uses ONTAP CLI `snaplock legal-hold end`.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/litigationIdPathParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/litigations/{litigationId}/operations:
    post:
      operationId: v1_snaplockLitigationOperationCreate
      summary: Create SnapLock legal-hold operation (begin or end)
      description: |
        Creates or removes legal-hold for the specified path on an existing litigation.
        Body type "begin" = add legal-hold on path; "end" = remove legal-hold on path.
        Uses ONTAP CLI `snaplock legal-hold begin` or `snaplock legal-hold end`.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/litigationIdPathParameter'
        - name: return_records
          in: query
          description: The default is false. If set to true, the records are returned.
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnaplockLegalHoldOperationRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: Useful for tracking the resource location
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockLegalHoldOperationResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/litigations/{litigationId}/operations/{operationId}:
    get:
      operationId: v1_snaplockLitigationOperationGet
      summary: Get SnapLock legal-hold operation status
      description: |
        Retrieves the status of the legal-hold operation for the specified operation ID.
        Uses ONTAP CLI `snaplock legal-hold show -operation-id <id> -instance`.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/litigationIdPathParameter'
        - $ref: '#/components/parameters/operationIdPathParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnaplockLegalHoldOperationResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1_snaplockLitigationOperationAbort
      summary: Abort SnapLock legal-hold operation
      description: |
        Aborts an ongoing legal-hold operation. Does not rollback changes already made.
        Uses ONTAP CLI `snaplock legal-hold abort`.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/litigationIdPathParameter'
        - $ref: '#/components/parameters/operationIdPathParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/event-retention/operations:
    get:
      operationId: v1_listEventRetentionOperations
      summary: List EBR operations
      description: |
        Retrieves a list of Event Based Retention (EBR) operations.
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      responses:
        '200':
          description: List of EBR operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EBROperationResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: v1_createEventRetentionOperation
      summary: Apply EBR policy (create operation)
      description: |
        Starts an EBR operation to apply an Event Based Retention policy to a path on a volume.
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EBROperationCreate'
      responses:
        '201':
          description: EBR operation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EBROperation'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/storage/snaplock/event-retention/operations/{id}:
    get:
      operationId: v1_getEventRetentionOperation
      summary: Get one EBR operation
      description: |
        Retrieves a single Event Based Retention (EBR) operation by ID.
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - name: id
          in: path
          required: true
          description: EBR operation ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: EBR operation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EBROperation'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1_abortEventRetentionOperation
      summary: Abort EBR operation
      description: |
        Aborts an ongoing Event Based Retention (EBR) operation.
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - snaplock
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - name: id
          in: path
          required: true
          description: EBR operation ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Operation aborted
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/private/cli:
    post:
      operationId: v1_privateCli
      summary: Execute ONTAP CLI command
      description: |
        Executes an ONTAP CLI command through the private CLI API.
        
        This operation:
        1. Parses and validates the CLI command against the rule engine
        2. Fetches appropriate credentials based on command requirements
        3. Executes the CLI command on ONTAP
        4. Filters response fields based on configured rules
        5. Returns the CLI output
        
        Commands are subject to the CLI rule engine which can:
        - Allow or deny specific commands
        - Apply conditional validation
        - Remove sensitive fields from response
        
        Requires the caller to have netapp.googleapis.com/ontapModeRead or ontapModeAdmin permission
        depending on the command.
      tags:
        - cli
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLIExecuteRequest'
      responses:
        '200':
          description: CLI command executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIExecuteResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/cluster/licensing/access_tokens:
    post:
      operationId: v1_clusterLicensingAccessTokensCreate
      summary: Request an access token (SM-C)
      description: |
        Generates SM-C access token (same as ONTAP REST POST /api/cluster/licensing/access_tokens).
        
        This operation:
        1. Fetches admin credentials for the pool
        2. Forwards the request body to ONTAP POST /api/cluster/licensing/access_tokens
        3. Returns the access token information from ONTAP
        
        Requires the caller to have netapp.googleapis.com/ontapModeAdmin permission.
      tags:
        - licensing
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: Access token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenInfo'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}:
    get:
      operationId: v1_getDestinationEndpointInfo
      summary: Get object store destination endpoint info
      description: |
        Retrieves information for the specified SnapMirror object store destination endpoint.
        Proxies to ONTAP GET /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}.
        Depends on an existing SnapMirror relationship (created via POST /api/snapmirror/relationships).
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
      responses:
        '200':
          description: OK - object store endpoint info from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreEndpointInfo'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: v1_deleteDestinationEndpoint
      summary: Delete object store destination endpoint data
      description: |
        Deletes all data of the specified endpoint within the object store (populated by SnapMirror).
        Proxies to ONTAP DELETE /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}.
        Depends on an existing SnapMirror relationship.
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
      responses:
        '200':
          description: OK - job link response from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreEndpointInfoJobLinkResponse'
        '202':
          description: Accepted - operation in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectStoreEndpointInfoJobLinkResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots:
    get:
      operationId: v1_getSnapshots
      summary: List object store endpoint snapshots
      description: |
        Retrieves snapshot information for the specified object store endpoint.
        Proxies to ONTAP GET /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots.
        Depends on an existing SnapMirror relationship.
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
      responses:
        '200':
          description: OK - snapshot collection from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshotResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1beta/projects/{projectNumber}/locations/{locationId}/pools/{poolId}/ontap/api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots/{snapshotId}:
    delete:
      operationId: v1_deleteSnapshot
      summary: Delete object store endpoint snapshot
      description: |
        Deletes a snapshot from the object store endpoint.
        Proxies to ONTAP DELETE /api/snapmirror/object-stores/{objectStoreId}/endpoints/{destinationEndpointId}/snapshots/{snapshotId}.
        Depends on an existing SnapMirror relationship.
      tags:
        - snapmirror-object-store
      parameters:
        - $ref: '#/components/parameters/projectNumberPathParameter'
        - $ref: '#/components/parameters/locationIdPathParameter'
        - $ref: '#/components/parameters/poolIdPathParameter'
        - $ref: '#/components/parameters/objectStoreIdPathParameter'
        - $ref: '#/components/parameters/destinationEndpointIdPathParameter'
        - $ref: '#/components/parameters/snapshotIdPathParameter'
      responses:
        '200':
          description: OK - job link response from ONTAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse'
        '202':
          description: Accepted - operation in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse'
        '400':
          $ref: '#/components/responses/StandardError-400'
        '401':
          $ref: '#/components/responses/StandardError-401'
        '403':
          $ref: '#/components/responses/StandardError-403'
        '404':
          $ref: '#/components/responses/StandardError-404'
        '500':
          $ref: '#/components/responses/StandardError-500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    projectNumberPathParameter:
      name: projectNumber
      in: path
      description: The project number of the GCP project owning the resource
      required: true
      schema:
        type: string
        maxLength: 18
        pattern: "^[1-9][0-9]{0,18}$"
        example: "123456789"
    locationIdPathParameter:
      name: locationId
      in: path
      description: The location/region to perform the operation in
      required: true
      schema:
        type: string
        maxLength: 255
        example: "us-east1"
    poolIdPathParameter:
      name: poolId
      in: path
      description: UUID v4 used to identify the storage pool
      required: true
      schema:
        type: string
        format: uuid
        maxLength: 36
        minLength: 36
        pattern: "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
        example: "550e8400-e29b-41d4-a716-446655440000"
    volumeUuidPathParameter:
      name: volumeUuid
      in: path
      description: UUID of the volume
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    filePathPathParameter:
      name: filePath
      in: path
      description: |
        URL-encoded file path. Slashes in the path must be encoded as %2F.
        Example: dir%2Fsubdir%2Ffile.txt for dir/subdir/file.txt
      required: true
      schema:
        type: string
        example: "dir%2Ffile.txt"
    objectStoreIdPathParameter:
      name: objectStoreId
      in: path
      description: UUID of the SnapMirror object store (same as cloud target UUID from GET /api/cloud/targets)
      required: true
      schema:
        type: string
        format: uuid
        example: "cd9563a0-2e59-11ea-a778-00505682bd8f"
    destinationEndpointIdPathParameter:
      name: destinationEndpointId
      in: path
      description: UUID of the object store destination endpoint
      required: true
      schema:
        type: string
        format: uuid
        example: "af86c94c-bcb2-4b4e-b8cc-c294793a310a"
    snapshotIdPathParameter:
      name: snapshotId
      in: path
      description: UUID of the snapshot in the object store endpoint
      required: true
      schema:
        type: string
        format: uuid
        example: "04fb1ddb-2947-4eb0-af09-3eb6dc538926"
    litigationIdPathParameter:
      name: litigationId
      in: path
      description: Litigation ID (volumeUuid:litigationName, e.g. f8a67b60-4461-11e9-b327-0050568ebef5:l1). Must be URL-encoded if containing special characters.
      required: true
      schema:
        type: string
        minLength: 1
        example: "f8a67b60-4461-11e9-b327-0050568ebef5:l1"
    operationIdPathParameter:
      name: operationId
      in: path
      description: Operation ID (e.g. from begin/end operation response)
      required: true
      schema:
        type: string
        minLength: 1
        example: "16908292"
  schemas:
    Health:
      type: object
      title: Health
      properties:
        status:
          title: healthStatus
          type: string
          readOnly: true
          description: Server health status
          example: healthy
    CacheStatus:
      type: object
      title: CacheStatus
      properties:
        entries:
          type: array
          description: List of cache entries
          items:
            $ref: '#/components/schemas/CacheEntry'
        totalEntries:
          type: integer
          description: Total number of cache entries
          example: 5
    CacheEntry:
      type: object
      title: CacheEntry
      properties:
        cacheKey:
          type: string
          description: The cache key (pool ID)
          example: "pool-123"
        cachedAt:
          type: string
          format: date-time
          description: Timestamp when the entry was cached
          example: "2025-12-22T10:30:00Z"
        expiresAt:
          type: string
          format: date-time
          description: Timestamp when the entry will expire
          example: "2025-12-29T10:30:00Z"
    # Aligned with ontap-rest swagger definitions access_token_request and access_token_info
    AccessTokenRequest:
      type: object
      title: AccessTokenRequest
      description: Request an access token (same as ONTAP access_token_request).
      properties:
        client_id:
          type: string
          description: Name of the ISV application requesting an access token.
          example: XYZ Software
        client_secret:
          type: string
          description: Content of the ISV license.
        grant_type:
          type: string
          description: ISV application grant type.
          enum:
            - client_credentials
          default: client_credentials
          example: client_credentials
    AccessTokenInfo:
      type: object
      title: AccessTokenInfo
      description: Access token information (same as ONTAP access_token_info).
      properties:
        access_token:
          type: string
          description: Access token that is used by the ISV application to access the protected APIs.
        expires_in:
          type: integer
          format: int64
          description: Number of seconds after which an access token expires.
          default: 604800
          example: 1036800
        token_type:
          type: string
          description: Access token type.
          enum:
            - bearer
          default: bearer
          example: bearer
    CLIExecuteRequest:
      type: object
      title: CLIExecuteRequest
      description: Request to execute an ONTAP CLI command
      required:
        - input
      properties:
        input:
          type: string
          description: The ONTAP CLI command to execute
          example: "system node run -node * -command options wafl.maxvolclonehier 499"
          maxLength: 4096
        privilege:
          type: string
          description: The privilege level for the command. Only 'admin' is allowed.
          enum:
            - admin
          default: "admin"
          example: "admin"
    CLIExecuteResponse:
      type: object
      title: CLIExecuteResponse
      description: Response from ONTAP CLI command execution
      properties:
        output:
          type: string
          description: CLI command output
          example: "You are changing option wafl.maxvolclonehier, which applies to\nboth members of the HA\nconfiguration in takeover mode.\n"
    Error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          description: Error code
        message:
          type: string
          description: Error message
    OntapPassthroughResponse:
      type: object
      description: Passthrough response from ONTAP REST API (structure varies by endpoint)
      additionalProperties: true
    ObjectStoreEndpointInfo:
      type: object
      title: ObjectStoreEndpointInfo
      description: Destination endpoint info. Aligned with ontap-rest swagger object_store_endpoint_info.
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        archived_objects:
          type: boolean
          description: Whether the endpoint has objects in archival storage.
        destination:
          type: object
          properties:
            logical_size:
              type: integer
              format: int64
              description: Logical size of the destination endpoint.
        object_store:
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Href'
            container:
              type: string
              description: Object store container hosting the endpoint.
            name:
              type: string
              description: Object store configuration name.
            provider_type:
              type: string
              enum: [aws_s3, sgws, azure_cloud, s3_compatible, ibm_cos, alicloud, googlecloud, ontap_s3]
            uuid:
              type: string
              format: uuid
        source:
          type: object
          properties:
            endpoint:
              type: object
              properties:
                _links:
                  type: object
                  properties:
                    self:
                      $ref: '#/components/schemas/Href'
                name:
                  type: string
                svm:
                  type: object
                  properties:
                    _links:
                      type: object
                      properties:
                        self:
                          $ref: '#/components/schemas/Href'
                    name:
                      type: string
                    uuid:
                      type: string
                type:
                  type: string
                  enum: [volume, flexgroup]
                uuid:
                  type: string
                  format: uuid
            physical_size:
              type: integer
              format: int64
            type:
              type: string
              enum: [rw, dp]
            virtual_size:
              type: integer
              format: int64
        uuid:
          type: string
          format: uuid
          description: Destination endpoint UUID.
    ObjectStoreEndpointInfoJobLinkResponse:
      type: object
      title: ObjectStoreEndpointInfoJobLinkResponse
      description: Job link response for destination endpoint operations. Aligned with ontap-rest object_store_endpoint_info_job_link_response.
      properties:
        job:
          $ref: '#/components/schemas/JobLink'
        num_records:
          type: integer
          description: Number of records.
        records:
          type: array
          items:
            $ref: '#/components/schemas/ObjectStoreEndpointInfo'
    ObjectStoreRef:
      type: object
      description: Object store reference. Aligned with ontap-rest object_store (minimal).
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        uuid:
          type: string
          format: uuid
    ObjectStoreEndpointRef:
      type: object
      description: Object store endpoint reference. Aligned with ontap-rest object_store_endpoint (minimal).
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        uuid:
          type: string
          format: uuid
    SnapmirrorObjectStoreEndpointSnapshot:
      type: object
      title: SnapmirrorObjectStoreEndpointSnapshot
      description: Snapshot for an object store endpoint. Aligned with ontap-rest snapmirror_object_store_endpoint_snapshot.
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
        archived_objects:
          type: boolean
        create_time:
          type: string
          format: date-time
        endpoint:
          $ref: '#/components/schemas/ObjectStoreEndpointRef'
        group_member_count:
          type: integer
          format: int64
        logical_size:
          type: integer
          format: int64
        name:
          type: string
        object_store:
          $ref: '#/components/schemas/ObjectStoreRef'
        retention_until_date:
          type: string
          format: date-time
        snapmirror_label:
          type: string
        snapshot_lock_state:
          type: string
          enum: [not_locked, locked, cannot_be_locked, lock_expired]
        snapshot_state:
          type: string
          enum: [in_transfer, transferred, deleted, delete_cleanup, recyclable]
        uuid:
          type: string
          format: uuid
        version_uuid:
          type: string
          format: uuid
    SnapmirrorObjectStoreEndpointSnapshotResponse:
      type: object
      title: SnapmirrorObjectStoreEndpointSnapshotResponse
      description: Snapshot list response. Aligned with ontap-rest snapmirror_object_store_endpoint_snapshot_response.
      properties:
        _links:
          type: object
          properties:
            next:
              $ref: '#/components/schemas/Href'
            self:
              $ref: '#/components/schemas/Href'
        num_records:
          type: integer
        records:
          type: array
          items:
            $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshot'
    SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse:
      type: object
      title: SnapmirrorObjectStoreEndpointSnapshotJobLinkResponse
      description: Job link response for snapshot delete. Aligned with ontap-rest snapmirror_object_store_endpoint_snapshot_job_link_response.
      properties:
        job:
          $ref: '#/components/schemas/JobLink'
        num_records:
          type: integer
        records:
          type: array
          items:
            $ref: '#/components/schemas/SnapmirrorObjectStoreEndpointSnapshot'
    # Request/response schemas aligned with ONTAP REST api/storage/snaplock/litigations (snaplock_litigation, snaplock_litigation_response, snaplock_legal_hold_operation).
    SnaplockLitigationBeginRequest:
      type: object
      title: SnaplockLitigationBeginRequest
      description: |
        Request body for starting a SnapLock litigation (legal hold).
        Aligns with ONTAP POST /api/storage/snaplock/litigations (snaplock_litigation).
        Proxy accepts litigation_name, path, volume_uuid (volume.uuid in ONTAP).
      required:
        - litigation_name
        - path
        - volume_uuid
      properties:
        litigation_name:
          type: string
          minLength: 1
          description: Specifies the legal-hold litigation name (ONTAP name)
          example: "litigation-001"
        path:
          type: string
          description: Specifies the path on which legal-hold operation has to be applied (e.g. /dir1 or /)
          example: "/dir1"
        volume_uuid:
          type: string
          format: uuid
          description: Unique identifier for the volume (ONTAP volume.uuid). Corresponds to instance-uuid in CLI.
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    SnaplockLitigationResponse:
      type: object
      title: SnaplockLitigationResponse
      description: SnapLock litigation record. Same structure as ONTAP snaplock_litigation.
      properties:
        _links:
          type: object
          description: Links for the litigation (read-only)
          properties:
            self:
              $ref: '#/components/schemas/Href'
        id:
          type: string
          description: Specifies the litigation ID (volume_uuid:litigation_name). Read-only.
        name:
          type: string
          description: Specifies the legal-hold litigation name
          example: "lit1"
        path:
          type: string
          description: Specifies the path on which legal-hold operation is applied
          example: "/dir1"
        svm:
          type: object
          description: SVM, applies only to SVM-scoped objects. Read-only.
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Href'
            name:
              type: string
              description: The name of the SVM
              example: "svm1"
            uuid:
              type: string
              description: The unique identifier of the SVM
              example: "02c9e252-41be-11e9-81d5-00a0986138f7"
        volume:
          type: object
          description: Volume reference. Read-only.
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Href'
            name:
              type: string
              description: The name of the volume
              example: "volume1"
            uuid:
              type: string
              description: Unique identifier for the volume (instance-uuid)
              example: "028baa66-41bd-11e9-81d5-00a0986138f7"
        operations:
          type: array
          description: List of legal-hold operations for this litigation. Read-only.
          items:
            $ref: '#/components/schemas/SnaplockLegalHoldOperationResponse'
    SnaplockLitigationListRecord:
      type: object
      title: SnaplockLitigationListRecord
      description: |
        One row from list; matches CLI "snaplock legal-hold show" table (Operation, Operation ID, Vserver, Volume, Status).
        Use for GET /litigations (list) only.
      properties:
        id:
          type: string
          description: Litigation ID (volume_uuid:litigation_name). Read-only.
          example: "47e1d46f-1cbf-11f1-a9c9-c3ccd0d4d151:litigation-001"
        name:
          type: string
          description: Legal-hold litigation name
          example: "litigation-001"
        path:
          type: string
          description: Path on which legal-hold is applied
          example: "/"
        operation:
          type: string
          description: Operation type
          enum: [begin, end]
          example: "begin"
        operation_id:
          type: integer
          description: Operation ID from ONTAP
          example: 16842754
        vserver:
          type: string
          description: Vserver name
          example: "gcnv-fbc248f62e293c2-svm-01"
        volume:
          type: string
          description: Volume name
          example: "snaplock_vol_ss_comp"
        status:
          type: string
          description: Operation status
          enum: [in_progress, failed, aborting, completed]
          example: "completed"
    SnaplockLitigationListResponse:
      type: object
      title: SnaplockLitigationListResponse
      description: List of SnapLock litigations. Matches CLI "snaplock legal-hold show" table (one record per operation row).
      properties:
        _links:
          type: object
          description: Links for the collection (read-only)
          properties:
            next:
              $ref: '#/components/schemas/Href'
            self:
              $ref: '#/components/schemas/Href'
        num_records:
          type: integer
          description: Number of records
          example: 1
        records:
          type: array
          description: List of litigation rows (one per operation; matches CLI table)
          items:
            $ref: '#/components/schemas/SnaplockLitigationListRecord'
    SnaplockLegalHoldOperationRequest:
      type: object
      title: SnaplockLegalHoldOperationRequest
      description: |
        Request body for creating a legal-hold operation (begin or end).
        Same as ONTAP POST /api/storage/snaplock/litigations/{id}/operations (snaplock_legal_hold_operation).
      required: [type, path]
      properties:
        type:
          type: string
          description: Specifies the type of legal-hold operation
          enum: [begin, end]
        path:
          type: string
          description: Specifies the path on which legal-hold operation is applied
          minLength: 1
          example: "/dir1"
    SnaplockLegalHoldOperationResponse:
      type: object
      title: SnaplockLegalHoldOperationResponse
      description: SnapLock legal-hold operation status. Same structure as ONTAP snaplock_legal_hold_operation.
      properties:
        _links:
          type: object
          description: Links for the operation (read-only)
          properties:
            self:
              $ref: '#/components/schemas/Href'
        id:
          type: integer
          description: Operation ID. Read-only.
          example: 16842759
        state:
          type: string
          description: Specifies the status of legal-hold operation
          enum: [in_progress, failed, aborting, completed]
          example: "completed"
        path:
          type: string
          description: Specifies the path on which legal-hold operation is applied
          example: "/dir1"
        type:
          type: string
          description: Specifies the type of legal-hold operation
          enum: [begin, end]
          example: "begin"
        num_files_processed:
          type: string
          description: Specifies the number of files on which legal-hold operation was successful
          example: "30"
        num_files_failed:
          type: string
          description: Specifies the number of files on which legal-hold operation failed
          example: "0"
        num_files_skipped:
          type: string
          description: Specifies the number of files on which legal-hold begin was skipped (already under hold)
          example: "10"
        num_inodes_ignored:
          type: string
          description: Specifies the number of inodes on which the operation was not attempted (not regular files)
          example: "10"
        status_details:
          type: string
          description: Status details from ONTAP (e.g. failure reason such as "No such litigation")
          example: "Failed to setup legal-hold operation on path /vol/vol1. Reason: No such litigation."
    SnaplockFileRetentionJobLinkResponse:
      type: object
      title: SnaplockFileRetentionJobLinkResponse
      description: Response for snaplock file operations
      properties:
        job:
          $ref: '#/components/schemas/JobLink'
        num_records:
          type: integer
          description: Number of records in the response
        records:
          type: array
          items:
            $ref: '#/components/schemas/SnaplockFileRetention'
    SnaplockFileRetention:
      type: object
      title: SnaplockFileRetention
      description: Snaplock file retention record
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        expiry_time:
          type: string
          description: File expiry time
        file:
          $ref: '#/components/schemas/FileInfo'
        is_expired:
          type: boolean
          description: Whether the file retention has expired
        retention_period:
          type: string
          description: Retention period
        seconds_until_expiry:
          type: integer
          format: int64
          description: Seconds until expiry
        volume:
          $ref: '#/components/schemas/VolumeRef'
    FileInfo:
      type: object
      title: FileInfo
      properties:
        path:
          type: string
          description: File path
    VolumeRef:
      type: object
      title: VolumeRef
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        name:
          type: string
          description: Volume name
        uuid:
          type: string
          description: Volume UUID
    JobLink:
      type: object
      title: JobLink
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        uuid:
          type: string
          description: Job UUID
    SelfLink:
      type: object
      title: SelfLink
      properties:
        self:
          $ref: '#/components/schemas/Href'
    Href:
      type: object
      title: Href
      properties:
        href:
          type: string
          description: Link URL
    EBRPolicy:
      type: object
      title: EBRPolicy
      description: Event Based Retention policy
      required:
        - name
        - retention_period
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        name:
          type: string
          description: EBR policy name (alphanumeric, hyphen, underscore, period only; 1-256 chars)
          minLength: 1
          maxLength: 256
          pattern: '^[a-zA-Z0-9_.-]+$'
          example: "litigation-hold-7y"
        retention_period:
          type: string
          description: |
            Retention period in ISO-8601 format (e.g., "P10Y" for 10 years, "P30M" for 30 months, "P7D" for 7 days)
            or "infinite" or "unspecified"
          example: "P7Y"
        svm:
          $ref: '#/components/schemas/SvmRef'
    EBRPolicyRef:
      type: object
      title: EBRPolicyRef
      description: Reference to an EBR policy
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        name:
          type: string
          description: Policy name (alphanumeric, hyphen, underscore, period only; 1-256 chars)
          minLength: 1
          maxLength: 256
          pattern: '^[a-zA-Z0-9_.-]+$'
          example: "p1day"
        retention_period:
          type: string
          description: Retention period
          readOnly: true
          example: "P30M"
    EBRPolicyResponse:
      type: object
      title: EBRPolicyResponse
      description: Response containing list of EBR policies
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
            next:
              $ref: '#/components/schemas/Href'
        num_records:
          type: integer
          description: Number of records
          example: 1
        records:
          type: array
          items:
            $ref: '#/components/schemas/EBRPolicy'
    EBROperation:
      type: object
      title: EBROperation
      description: Event Based Retention (EBR) operation
      properties:
        id:
          type: integer
          format: int64
          description: Operation ID
          example: 16842754
        state:
          type: string
          description: Operation state (e.g. in_progress, completed, failed, aborting)
          example: "in_progress"
        path:
          type: string
          description: Path relative to volume root
          example: "/"
        policy:
          $ref: '#/components/schemas/EBRPolicyRef'
        volume:
          type: object
          description: Volume reference
          properties:
            name:
              type: string
              description: Volume name
              example: "vol1"
            uuid:
              type: string
              format: uuid
              description: Volume UUID
        svm:
          $ref: '#/components/schemas/SvmRef'
        num_files_processed:
          type: integer
          format: int64
          description: Number of files processed
        num_files_failed:
          type: integer
          format: int64
          description: Number of files failed
        num_files_skipped:
          type: integer
          format: int64
          description: Number of files skipped
        num_inodes_ignored:
          type: integer
          format: int64
          description: Number of inodes ignored
    EBROperationResponse:
      type: object
      title: EBROperationResponse
      description: Response containing list of EBR operations
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Href'
            next:
              $ref: '#/components/schemas/Href'
        num_records:
          type: integer
          description: Number of records
          example: 1
        records:
          type: array
          items:
            $ref: '#/components/schemas/EBROperation'
    EBROperationCreate:
      type: object
      title: EBROperationCreate
      description: Request body to create (apply) an EBR operation
      required:
        - path
        - policy
      properties:
        path:
          type: string
          description: Path relative to volume root (e.g. "/" for all files)
          example: "/"
        policy:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: EBR policy name to apply (alphanumeric, hyphen, underscore, period only; 1-256 chars)
              minLength: 1
              maxLength: 256
              pattern: '^[a-zA-Z0-9_.-]+$'
              example: "p1day"
        volume:
          type: object
          description: Volume (provide name or uuid)
          properties:
            name:
              type: string
              description: Volume name
              example: "vol1"
            uuid:
              type: string
              format: uuid
              description: Volume UUID
    SvmRef:
      type: object
      title: SvmRef
      description: Reference to an SVM
      properties:
        _links:
          $ref: '#/components/schemas/SelfLink'
        name:
          type: string
          description: SVM name
          example: "svm1"
        uuid:
          type: string
          description: SVM UUID
          example: "02c9e252-41be-11e9-81d5-00a0986138f7"
  responses:
    StandardError-400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Bad Request or Input
    StandardError-401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 401
            message: Unauthorized access attempt
    StandardError-403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 403
            message: Forbidden
    StandardError-404:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 404
            message: Resource not found
    StandardError-409:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: Resource conflict
    StandardError-429:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 429
            message: Too many requests
    StandardError-500:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 500
            message: Internal server error